@use "../../variables" as v;
@import "../../mixins";

.account {
  @include wrapper(70%, 20px, auto, auto, auto);
  display: flex;
  .account__side-bar {
    @include size(100%, 240px);
    @include padding(10px, 10px, 10px, 10px);
    @include display($display: flex, $flex-direction: column);
    background-color: var(--color-default-bg);
    .account__ava {
      display: flex;
      position: relative;
      .account__picture {
        @include avatar-box(225px, 225px);
      }
      .account__status {
        @include positions($bottom: 0, $right: 0);
        position: absolute;
        background-color: var(--color-header-bg);
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid var(--color-main-border);
        padding: 10px;
        margin: 0;
      }
    }
    .account__links {
      @include centers($align-items: center);
      display: flex;
      .account__link {
        @include size(30px, 30px);
        @include margin($top: 10px);
      }
    }
    .account__side-bar_buttons {
      margin-top: 10px;
      padding: 5px;
      .account__item {
        margin-bottom: 10px;
      }
    }
    .account__social-title {
      margin-top: 15px;
      h4 {
        margin: 0;
      }
    }
  }
  .account__last-activity {
    width: 100%;
    .account__header {
      @include size(40px, 80%);
      margin: 0 auto 35px;
      border-bottom: 1px solid var(--color-line);
      display: flex;
      justify-content: space-around;
      .account__box {
        margin: 0 auto;
        .account__item {
          cursor: pointer;
          margin: 0;
          color: var(--color-line);
          transition: .2s;
          &.active, &:hover {
            color: rgba(#fff, 0.75);
          }
        }
        &.active {
          border-bottom: 3px solid var(--color-main);
        }
      }
    }
    .account__title {
      height: 230px;
      padding-top: 10px;
      margin-left: 20px;
      .account__info {
        @include centers($align-items: baseline, $justify-content: space-between);
        display: flex;
        .account__id {
          margin-left: 5px;
        }
        h1 {
          padding: 0;
          margin: 0 5px 0 0;
        }
      }
      .account__about-title {
        margin: 0;
        padding: 0;
        opacity: .5;
        white-space: pre-line
      }
    }
    .account__subpage-item {
      @include wrapper(80%, 0, auto, 0, auto, block);
      .account__no-posts {
        p, h2 {
          text-align: center;
        }
      }
      .account__sort-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        .account__sort-bar-item {
          border: 1px solid var(--color-main);
          padding: 5px;
          margin: 0;
          transition: .2s;
          cursor: pointer;
          &.account__sort-bar-item--active {
            background-color: var(--color-main-hover);
          }
          &:first-child {
            border-radius: 5px 0 0 5px;
            border-right: none;
          }
          &:last-child {
            border-left: none;
            border-radius: 0 5px 5px 0;
          }
          &:hover {
            background-color: var(--color-main-hover);
          }
        }
      }
      .account__qa {
        @include size(100px, 100%);
        border-bottom: 1px solid var(--color-line);
        margin-bottom: 15px;
        transition: .2s;
        cursor: pointer;
        .account__qa-title {
          @include centers($align-items: baseline, $justify-content: space-between);
          display: flex;
        }
        .account__qa-items {
          display: flex;
          p {
            margin: 0;
          }
          .account__preview-block {
            border: 1px solid var(--color-main-disable);
            border-radius: 5px;
            padding: 5px;
            margin-right: 5px;
            &.account__preview-block--answer {
              border: 1px solid var(--color-success);
            }
            &.account__preview-block--answered {
              background-color: var(--color-background-success);
            }
            &.account__preview-block--low-quality-question {
              border: 1px solid var(--color-error);
            }
          }
        }
        &:hover {
          border-bottom: 1px solid var(--color-main);
        }
      }
    }
  }
}
