@use "../../variables" as v;

.account {
  width: 70%;
  margin: 20px auto 0;
  display: flex;
  .side-bar {
    width: 240px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$default-bg;
    .picture {
      width: 225px;
      height: 225px;
      border-radius: 50%;
    }
    .status {
      position: absolute;
      background-color: v.$header-bg;
      padding: 10px;
      border-radius: 8px;
      font-size: 14px;
      border: 1px solid rgba(v.$main-color, .5);
      bottom: 0;
      right: 0;
    }
    .links {
      display: flex;
      align-items: center;
      .link {
        margin-top: 10px;
        width: 30px;
        height: 30px;
      }
    }
  }
  .last-activity {
    width: 100%;
    .title {
      height: 230px;
      padding-top: 10px;
    }
    .item {
      width: 100%;
      height: 500px;
      &.border {
        border-right: 1px solid rgba(v.$main-color-light, .25);
      }
    }
  }
}
