@use "../../variables" as v;
@import "../../mixins";

.account {
  @include wrapper(70%, 20px, auto, auto, auto);
  display: flex;
  .account__side-bar {
    @include size(100%, 240px);
    @include padding(10px, 10px, 10px, 10px);
    @include display($display: flex, $flex-direction: column);
    background-color: var(--default-bg);
    .account__side-bar__ava {
      display: flex;
      position: relative;
      .account__side-bar__ava__picture {
        @include avatar-box(225px, 225px);
      }
      .account__side-bar__ava__status {
        @include positions($bottom: 0, $right: 0);
        position: absolute;
        background-color: var(--header-bg);
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid var(--main-color-border);
        padding: 10px;
        margin: 0;
      }
    }
    .account__side-bar__links {
      @include centers($align-items: center);
      display: flex;
      .account__side-bar__links__link {
        @include size(30px, 30px);
        @include margin($top: 10px);
      }
    }
    .account__side-bar__locs {
      .account__side-bar__locs--item {
        display: flex;
      }
    }
    .account__side-bar_buttons {
      margin-top: 10px;
      padding: 5px;
      .account__side-bar_buttons__item {
        margin-bottom: 10px;
      }
    }
    .account__side-bar__social-title {
      margin-top: 15px;
      h4 {
        margin: 0;
      }
    }
  }
  .account__last-activity {
    width: 100%;
    .account__last-activity__header {
      width: 80%;
      height: 40px;
      margin: 0 auto 35px;
      border-bottom: 1px solid var(--line);
      display: flex;
      justify-content: space-around;
      .account__last-activity__header__box {
        margin: 0 auto;
        .account__last-activity__header__box__item {
          cursor: pointer;
          margin: 0;
          color: var(--line);
          transition: .2s;
          &.active {
            color: rgba(#fff, 0.75);
          }
          &:hover {
            color: rgba(#fff, 0.75);
          }
        }
        &.active {
          border-bottom: 3px solid var(--main-color);
        }
      }
    }
    .account__last-activity__list {
      display: flex;
    }
    .account__last-activity__title {
      height: 230px;
      padding-top: 10px;
      .account__last-activity__title__info {
        @include centers($align-items: baseline, $justify-content: space-between);
        display: flex;
        .account__last-activity__title__info__id {
          margin-left: 5px;
        }
        h1 {
          padding: 0;
          margin: 0 5px 0 0;
        }
      }
      .account__last-activity__title__title {
        margin: 0;
        padding: 0;
        opacity: .5;
      }
    }
    .account__last-activity__item {
      width: 80%;
      margin: 0 auto;
      .account__last-activity__item__no-posts {
        p, h2 {
          text-align: center;
        }
      }
      .account__last-activity__item__qa {
        @include size(90px, 100%);
        border-bottom: 1px solid var(--line);
        margin-bottom: 15px;
        transition: .2s;
        cursor: pointer;
        .account__last-activity__item__qa__title {
          @include centers($align-items: baseline, $justify-content: space-between);
          display: flex;
        }
        .account__last-activity__item__qa__items {
          display: flex;
          align-items: baseline;
          p {
            margin: 0;
          }
        }
        &:hover {
          border-bottom: 1px solid var(--main-color);
        }
      }
    }
  }
}
