@use "../../variables" as v;
@import "../../mixins";

.account-wrapper {
  @include size(100%, 70%);
  @include margin($right: auto, $left: auto);

  .avatar {
    @include size(90px, 225px, $max-width: 500px);
    @include margin(10px, 0, 10px, 18px);
    @include padding(10px, 10px, 10px, 10px);
    display: flex;
    transition: .2s;
    cursor: pointer;
    .avatar-box { @include avatar-box(70px, 70px) }
    .avatar-text {
      @include padding(10px, 0, 0, 20px);
      h2, p { @include margin(); }
    }
  }
  .avatar:hover {
    background-color: var(--hover);
    border-radius: 8px;
  }

  .side-bar {
    width: 250px;
    background-color: var(--default-bg);
    .item {
      width: 100%;
      margin: 0 10px 10px;
      padding-left: 8px;
      cursor: pointer;
      transition: .2s;
      line-height: 38px;
      &.item-active {
        background-color: var(--hover);
        border-radius: 5px;
      }
    }
    .vertical-line {
      @include size(38px, 5px);
      background-color: var(--main-color);
      border-radius: 5px;
    }
    .item:hover {
      background-color: var(--hover);
      border-radius: 5px;
    }
  }

}

.account-preferences {
  width: 100%;
  .profile-picture {
    @include margin($right: 15px, $left: 15px);
    display: flex;
    @include centers($flex-direction: column, $align-items: center);
    width: 30%;
    padding-top: 10px;
    float: right;
    .picture { @include avatar-box(auto, 100%, $max-width: 225px); }
  }
  .fields {
    width: 70%;
  }
  .button {
    float: left;
    padding: 5px;
  }

  .item {
    border-bottom: 1px solid var(--line);
    .item-content {
      @include centers($justify-content: space-between, $align-items: center);
      display: flex;
      height: 100%;
      &.texts { display: block; }
    }
    &.danger {
      border-bottom: 1px solid var(--error-hover);
    }
  }
  .password-requirements {
    width: 450px;
    display: flex;
    .item { @include margin($bottom: 10px, $left: 10px); }
    .status { @include size(20px, 20px); }
  }
}
