@use "../../variables" as v;

.account-wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;

  .avatar {
    max-width: 500px;
    width: 225px;
    margin: 10px 0 10px 18px;
    height: 90px;
    display: flex;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
    .avatar-box {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
    .avatar-text {
      padding: 10px 0 0 20px;
      display: block;
    }
  }
  .avatar:hover {
    background-color: var(--hover);
    border-radius: 8px;
  }

  .side-bar {
    width: 250px;
    background-color: var(--default-bg);
    .item {
      width: 100%;
      margin: 0 10px 10px;
      padding-left: 8px;
      cursor: pointer;
      transition: .2s;
      line-height: 38px;
      &.item-active {
        background-color: var(--hover);
        border-radius: 5px;
      }
    }
    .vertical-line {
      width: 5px;
      background-color: v.$main-color;
      height: 38px;
      border-radius: 5px;
    }
    .item:hover {
      background-color: var(--hover);
      border-radius: 5px;
    }
  }

}

.account-preferences {
  width: 100%;
  .profile-picture {
    width: 30%;
    padding-top: 10px;
    margin: 0 15px 0 15px;
    flex-direction: column;
    align-items: center;
    float: right;
    .picture {
      width: 100%;
      max-width: 225px;
      height: auto;
      border-radius: 50%;
    }
  }
  .fields {
    width: 70%;
  }
  .button {
    float: left;
    padding: 5px;
  }

  .item {
    border-bottom: 1px solid var(--line);
    .item-content {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      &.texts { display: block; }
    }
    &.danger {
      border-bottom: 1px solid rgba(v.$error, .25);
    }
  }
  .password-requirements {
    width: 450px;
    display: flex;
    .item { margin: 0 0 10px 10px }
    .status {
      width: 20px;
      height: 20px;
    }
  }
}
