.skeleton {
  animation: skeleton-loading 1s infinite;
  opacity: .7;
  margin: 5px;
  height: .75rem;
  border-radius: .125rem;

  .skeleton-text {
    opacity: 0;
    width: 100%;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #777;
  }
  50% {
    background-color: #303030;
  }
  100% {
    background-color: #777;
  }
}
