@use "assets/css/variables" as v;
@import "../mixins";

.error-page {
  @include display($position: absolute);
  @include size(100%, 100%);
  background-color: var(--default-bg);
  .text {
    font-family: "Lato", sans-serif;
    color: var(--font-color);
  }
  .head {
    font-size: 52px;
  }
  .paragraph {
    font-size: 28px;
  }
  .nuxt-link {
    color: #69BEEB;
  }
}
