@use "assets/css/variables" as v;

.error-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--default-bg);
  .text {
    font-family: "Lato", sans-serif;
    color: var(--font-color);
  }
  .head {
    font-size: 52px;
  }
  .paragraph {
    font-size: 28px;
  }
  .nuxt-link {
    color: #69BEEB;
  }
}
