@use "../variables" as v;
@import "../mixins";

.error-page {
  @include display($position: absolute);
  @include size(100%, 100%);
  background-color: var(--color-default-bg);
  text-align: center;
  .error-page__text {
    font-family: "Lato", sans-serif;
    color: var(--color-font);
    &.error-page__text--head {
      font-size: 78px;
    }
    &.error-page__text--paragraph {
      font-size: 28px;
    }
    &.error-page__text--nuxt-link {
      color: #69BEEB;
    }
  }
}
