@use "assets/css/variables" as v;

//.content {
//  height: 700px;
//  text-align: center;
//  .center-text {
//    padding: 180px 0;
//    h3 {
//      font-size: 22px;
//      font-family: "Heiti SC", sans-serif;
//      font-weight: 200;
//      color: v.$main-color-light;
//    }
//  }
//}
//
//.about {
//  width: 100%;
//  height: 550px;
//  display: flex;
//  margin-right: auto;
//  margin-left: auto;
//  background-color: v.$default-bg;
//  justify-content: space-between;
//  vertical-align: center;
//  &.blog {
//  }
//}

