@use "assets/css/variables" as v;

.login {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: v.$header-bg;

  .login-content {
    height: 100%;
    width: 50%;
    background-color: v.$default-bg;
    .login-title {
      height: 25%;
      font-size: 52px;
      .login-title-header {
        cursor: pointer;
        transition: .2s;
      }
      .login-title-header:hover {
        color: v.$main-color;
        font-size: 60px;
      }
    }
    .login-welcome-texts {
      margin: 0 auto;
      width: 90%;
      height: 50%;
      .login-community {
        width: 75%;
        margin: 0 auto;
      }
    }
    @media only screen and (max-width: 930px) { display: none; }
  }

  .login-header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    .account-having { padding: 15px; }
  }

  .login-inputs {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &.personal-information {
      height: 100vh;
    }

    @media only screen and (max-width: 930px) {
      width: 90%;
      height: 100vh;
      margin-top: 50px;
    }

    .login-inputs-container {
      width: 450px;
      &.personal-information {
        height: 100vh;
        overflow-y: auto;
        padding: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      &.personal-information::-webkit-scrollbar {
        display: none;
      }
      .vertical-line {
        width: 1px;
        background-color: v.$main-color-light;
        height: 50px;
        float: left;
        opacity: 0.5;
        margin: 0 20px 0 20px;
      }
      .choose {
        cursor: pointer;
        transition: .2s;
        color: v.$main-color-light;
      }
      .choose:hover { color: v.$main-color; }

      .password-requirement {
        border-radius: 5px;
        border: 1px solid rgba(#fff,0.9);
        .password-requirement-item {
          padding-left: 15px;
          font-size: 10px;
          color: v.$main-color-light;
          opacity: 0.9;
        }
        .status {
          width: 20px;
          height: 20px;
        }
      }

    }
  }
}
