@use "../variables" as v;
@import "../mixins";

.login {
  @include centers($align-items: center, $justify-content: center);
  @include size(100vh, 100%);
  @include display(fixed, flex);
  background-color: var(--header-bg);
}

.login-content {
  @include size(100%, 50%);
  @include centers($align-items: center);
  background-color: var(--default-bg);
  display: flex;
  h1 {
    @include margin($left: 130px, $right: 130px);
    font-size: 36px;
  }
  .login-content__community-text {
    display: block;
    h1 {
      text-align: center
    }
    .login-content__community-points {
      @include margin(35px, auto, 0, auto);
      width: 70%;
      font-size: 18px;
    }
  }
  .login-content__center {
    text-align: center;
    width: 100%;
  }
  @media only screen and (max-width: 930px) {
    display: none;
  }
}

.login-header {
  @include size(50px, 100%);
  @include display($position: absolute, $display: flex);
  @include positions(0);
  justify-content: space-between;
  .login-header__login-header-btn {
    display: flex;
    align-items: baseline;
    padding: 15px;
  }
  .login-header__login-title {
    @include margin($top: 15px, $right: 30px, $left: 30px);
    transition: .2s;
    cursor: pointer;
    &:hover {
      color: var(--main-color)
    }
  }
}

.login-inputs {
  @include size(500px, 600px);
  @include display(relative, flex);
  @include margin($right: auto, $left: auto);
  @include centers($align-items: center, $justify-content: center);
  &.login-inputs--personal-information {
    @include size($height: 100vh);
  }

  .login-inputs__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    .login-inputs__btn {
      width: 100%;
      @include margin($left: 5px, $right: 5px);
    }
  }

  .login-inputs__login-inputs-container {
    width: 450px;
    .login-inputs__sign-in-btn {
      padding: 5px;
    }
    .login-inputs__options {
      display: flex;
      .login-inputs__vertical-line {
        @include margin(0, 20px, 0, 20px);
        width: 1px;
        background-color: var(--font-color);
        height: 50px;
        float: left;
        opacity: .5;
      }
      .login-inputs__choose {
        cursor: pointer;
        transition: .2s;
        color: var(--font-color);
        &:hover {
          color: var(--main-color);
        }
      }
    }
    .login-inputs__password-requirement {
      border-radius: 5px;
      border: 1px solid rgba(#fff,.9);
      .login-inputs__password-requirements {
        display: flex;
      }
      .login-inputs__password-requirement-item {
        @include margin(5px, 0, 5px, 0);
        padding-left: 15px;
        font-size: 14px;
        color: var(--font-color);
        opacity: .9;
      }
      .login-inputs__status {
        @include size(20px, 20px);
      }
    }
    &.login-inputs__login-inputs-container--personal-information {
      height: 100vh;
      overflow-y: auto;
      padding: 20px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 930px) {
    @include size(100vh, 90%);
    @include margin(0);
  }
}

.reopening {
  @include centers($align-items: center, $justify-content: center);
  @include size(100vh, 100%);
  @include display(fixed, flex);
  background-color: var(--header-bg);
  .reopening__reopening-block {
    text-align: center;
    display: block;
  }
}
