@use "assets/css/variables" as v;
@import "../mixins";

.login {
  @include centers($align-items: center, $justify-content: center);
  @include size(100vh, 100%);
  @include display(fixed, flex);
  background-color: var(--header-bg);

  .login-content {
    @include size(100%, 50%);
    background-color: var(--default-bg);
    .login-title {
      height: 25%;
      font-size: 52px;
      .login-title-header {
        cursor: pointer;
        transition: .2s;
      }
      .login-title-header:hover {
        color: var(--main-color);
        font-size: 60px;
      }
    }
    .login-welcome-texts {
      @include size(50%, 90%);
      @include margin(0, auto, 0, auto);
      &.login-community { @include size($width: 75%); }
    }
    @media only screen and (max-width: 930px) { display: none; }
  }

  .login-header {
    @include size(50px, 100%);
    @include display($position: absolute);
    @include positions(0);
    .account-having { @include padding(15px, 15px, 15px, 15px)}
  }

  .login-inputs {
    @include size(500px, 600px);
    @include display(relative, flex);
    @include margin(0, auto, 0, auto);
    @include centers($align-items: center, $justify-content: center);
    &.personal-information { @include size(100vh); }

    @media only screen and (max-width: 930px) {
      @include size(100vh, 90%);
      @include margin(50px);
    }

    .login-inputs-container {
      width: 450px;
      &.personal-information {
        height: 100vh;
        overflow-y: auto;
        padding: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      &.personal-information::-webkit-scrollbar {
        display: none;
      }
      .vertical-line {
        width: 1px;
        background-color: var(--font-color);
        height: 50px;
        float: left;
        opacity: .5;
        margin: 0 20px 0 20px;
      }
      .choose {
        cursor: pointer;
        transition: .2s;
        color: var(--font-color);
      }
      .choose:hover { color: var(--main-color); }

      .password-requirement {
        border-radius: 5px;
        border: 1px solid rgba(#fff,.9);
        .password-requirement-item {
          padding-left: 15px;
          font-size: 10px;
          color: var(--font-color);
          opacity: .9;
        }
        .status { @include size(20px, 20px); }
      }

    }
  }
}
