@use "../variables" as v;
@import "../mixins";

.settings-modal-container {
  @include size(100vh, 100vw);
  @include positions($top: 0, $left: 0);
  @include centers($align-items: center, $justify-content: center);
  overflow: hidden;
  position: fixed;
  z-index: 1;
  display: flex;
  background: rgba(#000, .5) 0 0 no-repeat padding-box;
  .settings-modal-container__settings-modal-wrapper {
    @include centers($align-items: center, $flex-direction: column);
    width: 500px;
    background: white 0 0 no-repeat padding-box;
    border-radius: 6px;
    display: flex;
    padding-bottom: 15px;
    @media screen and (max-width: 520px) {
      width: auto;
      margin: 15px;
    }

    .settings-modal-container__modal-header {
      @include size(80px, 100%);
      @include centers($align-items: center, $justify-content: center);
      position: relative;
      display: flex;

      img {
        position: absolute;
        left: 0;
        cursor: pointer;
      }

      h3 {
        position: absolute;
        color: var(--color-on-white);
      }
    }
    .settings-modal-container__modal-description {
      letter-spacing: 0;
      color: var(--color-on-white);
      width: 85%;
      text-align: center;
      margin-bottom: 25px;
    }

    .settings-modal-container__settings-modal-wrapper {
      width: 90%;
    }
  }
}
