@use "../variables" as v;

.settings-modal-container {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#000, .5) 0 0 no-repeat padding-box;
  .settings-modal-wrapper {
    width: 500px;
    @media screen and (max-width: 520px) {
      width: auto;
      margin: 15px;
    }
    background: white 0 0 no-repeat padding-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;

    .modal-header {
      position: relative;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        left: 0;
        cursor: pointer;
      }

      h3 {
        position: absolute;
        color: var(--default-bg);
      }
    }
    .modal-description {
      letter-spacing: 0;
      color: var(--default-bg);
      width: 85%;
      text-align: center;
      margin-bottom: 25px;
    }

    .modal-content {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}
