@use "../variables" as v;
@import "../mixins";

.button-container {
  width: 100%;
  display: flex;

  .basic-button {
    @include size(36px, 100%);
    background-color: var(--color-main);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    min-width: 100px;
    &.basic-button--input-with-button {
      width: 75px;
      margin-top: 0;
      height: 48px;
    }
    &.basic-button--transparent {
      background-color: transparent;
      color: var(--color-font);
      border: 1px solid var(--color-main);
      .basic-button__label {
        color: var(--color-font);
      }
    }
    &.basic-button--min-width {
      min-width: 150px;
    }
    &.basic-button--transparent:hover {
      background-color: var(--color-main-hover);
    }
    &.basic-button--danger {
      border: 1px solid var(--color-error-border);
      color: var(--color-error);
    }
    &.basic-button--danger:hover {
      background-color: var(--color-error-hover);
    }
    &.basic-button--danger-fill {
      border: none;
      color: var(--color-font);
      background-color: var(--color-error);
    }
    &.basic-button--danger-fill:hover {
      background-color: var(--color-error-pale);
    }
    &.basic-button--danger-fill:disabled {
      border: none;
      color: var(--color-font);
      background-color: var(--color-error-disabled);
    }
    &.basic-button--danger-fill:disabled:hover {
      cursor: auto;
      background-color: var(--color-error-disabled);
    }
    &.basic-button--high-height {
      height: 48px;
    }
    &.basic-button--rounded {
      border-radius: 16px
    }
    &:hover {
      background-color: var(--color-main-pale);
    }
    &:active {
      background-color: var(--color-main-dark);
    }
    &:disabled {
      background-color: var(--color-main-disable);
      cursor: auto;
    }
    &:disabled:hover {
      background-color: var(--color-main-disable);
      cursor: auto;
    }

    .basic-button__label {
      margin: 0;
      color: var(--color-default-bg);
    }
  }

}
