@use "../variables" as v;

.button-container {
  width: 100%;
  display: flex;
}

.basic-button {
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--main-color);
  font-weight: 300;
  width: 100%;
  min-width: 100px;
  &.input-with-button {
    width: 75px;
    margin-top: 0;
    height: 48px;
  }

  &.transparent {
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--main-color);
    .label { color: var(--font-color); }
  }
  &.transparent:hover {
    background-color: var(--main-color-hover);
  }

  &.danger {
    border: 1px solid var(--error-border);
    color: var(--error);
  }
  &.danger:hover {
    background-color: var(--error-hover);
  }
  &.danger-fill {
    border: none;
    color: var(--font-color);
    background-color: var(--error);
  }
  &.danger-fill:hover {
    background-color: var(--error-pale);
  }
  &.danger-fill:disabled {
    border: none;
    color: var(--font-color);
    background-color: var(--error-disabled);
  }
  &.danger-fill:disabled:hover {
    cursor: auto;
    background-color: var(--error-disabled);
  }

  &.min-width150 { width: 150px; }
  &.high-height { height: 48px; }
  &.rounded { border-radius: 16px }

  .label {
    margin: 0;
    color: var(--default-bg);
  }
}

.basic-button:hover {
  background-color: var(--main-color-pale);
}
.basic-button:active {
  background-color: var(--main-color-dark);
}
.basic-button:disabled {
  background-color: var(--main-color-disable);
  cursor: auto;
}
.basic-button:disabled:hover {
  background-color: var(--main-color-disable);
  cursor: auto;
}
