@use "../variables" as v;

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.basic-button {
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: v.$main-color;
  font-weight: 300;
  width: 100%;
  min-width: 100px;
  &.input-with-button {
    width: 75px;
    margin-top: 0;
    height: 48px;
  }

  &.transparent {
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid v.$main-color;
    .label { color: var(--font-color); }
  }
  &.transparent:hover {
    background-color: rgba(v.$main-color, .25);
  }

  &.danger {
    border: 1px solid rgba(v.$error, .5);
    color: v.$error;
  }
  &.danger:hover {
    background-color: rgba(v.$error, .25);
  }
  &.danger-fill {
    border: none;
    color: var(--font-color);
    background-color: v.$error;
  }
  &.danger-fill:hover {
    background-color: v.$error-pale;
  }
  &.danger-fill:disabled {
    border: none;
    color: var(--font-color);
    background-color: rgba(v.$error, .35);
  }

  &.min-width150 { width: 150px; }
  &.high-height { height: 48px; }
  &.rounded { border-radius: 16px }

  .label {
    margin: 0;
    color: var(--default-bg);
  }
}

.basic-button:hover {
  background-color: v.$main-color-page;
}
.basic-button:active {
  background-color: v.$main-color-dark;
}
.basic-button:disabled {
  background-color: rgba(v.$main-color, .35);
  cursor: auto;
}
.basic-button:disabled:hover {
  background-color: rgba(v.$main-color, .35);
  cursor: auto;
}
