@use "../variables" as v;
@import "../mixins";

.checkbox-container {
  @include padding($top: 12px, $bottom: 20px);
  display: flex;
  .checkbox-container__container {
    display: block;
    position: relative;
    max-width: 12px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
  }

  .container input:checked ~ .checkmark {
    background-color: var(--main-color);
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    --webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox-container__checkbox-paragraph {
    padding-top: 4px;
    margin: 0;
    font-size: 12px;
    color: var(--main-color-light);
  }
}
