@use "../variables" as v;
@import "../mixins";

.footer {
  @include size(50px, 100%);
  background-color: var(--header-bg);
  bottom: 0;
  position: absolute;
  box-shadow: 0 -8px 6px -6px var(--shadow);
  .footer__footer-content {
    @include size(50px, 750px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .footer__footer-content__right-side-footer {
      display: flex;

    }
    .footer__footer-content__texts {
      padding-top: 5px;
      margin-right: 15px;
      font-size: 12px;
      font-family: "Heiti SC", sans-serif;
    }
  }
}
