@use "../variables" as v;
@import "../mixins";

.header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--header-bg);
  box-shadow: 0 8px 6px -6px var(--shadow);
  .header__inner-header {
    @include wrapper(75%, 0, auto, 0, auto);
    .header__content {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .header__button {
        align-items: center;
        display: flex;
        margin-left: 20px;
      }

      .header__link {
        height: 70%;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 8px;
        transition: .2s;
        margin: 0 5px;
        padding: 0 5px;
        .header__link-title {
          p {
            transition: .3s;
            font-size: 14px;
          }
        }
        &:hover {
          background-color: var(--hover);
        }
      }
    }
  }

  .header__link-logo {
    height: 100%;
    display: flex;
    align-items: center;
    .header__logo {
      font-size: 25px;
      margin-left: 15px;
      transition: .2s;
      h3 {
        margin: 0;
        transition: .2s;
      }
      &:hover {
        transform: scale(1.1);
        h3 {
          color: var(--main-color);
        }
      }
    }
  }
}
