@use "../variables" as v;

.header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: v.$header-bg;
  .inner-header {
    margin: 0 auto;
    width: 75%;
    .content {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .button {
        align-items: center;
        display: flex;
        margin-left: 20px;
      }

      .link {
        height: 70%;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 8px;
        transition: .2s;
        margin: 0 5px;
        .link-title {
          transition: .3s;
          font-size: 14px;
        }
      }
      .link:hover {
        background-color: rgba(v.$main-color-light, .24);
      }
    }
  }

  .link-logo {
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      font-size: 25px;
      margin: 0;
      padding-left: 15px;
      transition: .2s;
    }
    .logo:hover {
      transform: scale(1.1);
      color: v.$main-color
    }
  }
}
