@use "../variables" as v;

.bi {
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--line);
  background-color: var(--input-background);
  padding: 0 16px 0 16px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  transition: .3s;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  &.textarea {
    padding: 15px;
    font-size: 14px;
    min-height: 56px;
    max-height: 200px;
    height: 120px;
    resize: vertical;
    &.textarea:focus { border: 1px solid var(--main-color-border); }
  }
  &.search {
    height: 38px;
    font-size: 14px;
    &.search:focus { border: 1px solid var(--main-color-border); }
  }
}

.basic-input-container {
  width: 100%;
  padding: 0 5px;

  .basic-input {
    margin-bottom: 10px;
    &.small {
      font-size: 14px;
      height: 36px;
      padding: 0 8px 0 8px;
      margin: 0;
    }
    &.error { border: 1px solid var(--error-border); }
    &.error:focus { border: 1px solid var(--error-border); }
    &.pointer { cursor: pointer }
    &.readonly { border: 1px solid var(--main-color-border); }
    &.white-stroke { border: 1px solid rgba(var(--font-color), .25); }
  }
  .basic-input:focus { border: 1px solid var(--main-color-border); }
  .basic-input:disabled { background-color: rgba(var(--font-color), .1) }

  .on-white {
    border: 1px solid v.$on-white;
    background-color: rgba(#fff, .5);
    color: v.$on-white;
  }
}

.search-result {
  z-index: 2;
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: var(--header-bg);
  color: var(--font-color);
  border-radius: 8px;
  border: 1px solid var(--main-color-border);
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
