@use "../variables" as v;

.input-search {
  background-color: v.$default-bg;
  border: 1px solid rgba(v.$main-color, .5);
  border-radius: 5px;
  height: 32px;
  padding-left: 12px;
  outline: none;
}
