@use "../variables" as v;
@import "../mixins";

.input-two-fa {
  @include margin($bottom: 10px, $top: 10px);
  @include size(4rem, 4rem);
  font-family: "Lato", sans-serif;
  appearance: none;
  -webkit-appearance: none;
  font-size: 32px;
  font-weight: 900;
  outline: none;
  color: var(--font-color);
  background-color: var(--default-bg);
  border-radius: 6px;
  caret-color: transparent;
  border: none;
  text-align: center;
  &:disabled {
    background-color: rgba(var(--default-bg), .25);
  }
  &:focus {
    border: 1px solid var(--main-color-border);
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  @media only screen and (max-width: 930px) {
    @include size(2.8rem, 2.8rem);
    font-size: 24px;
  }
}

.on-white {
  input {
    border: 1px solid var(--on-white);
    background-color: rgba(#fff, .5);
    color: var(--on-white);
  }
}
