@use "../variables" as v;
@import "../mixins";


.bi {
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--line);
  background-color: var(--input-background);
  padding: 0 16px 0 16px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  transition: .3s;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  &.bi--textarea {
    padding: 15px;
    font-size: 14px;
    min-height: 56px;
    max-height: 200px;
    height: 120px;
    resize: vertical;
    &:focus {
      border: 1px solid var(--main-color-border);
    }
  }
  &.bi--search {
    height: 38px;
    font-size: 14px;
    &:focus {
      border: 1px solid var(--main-color-border);
    }
  }
}

.basic-input-container {
  width: 100%;
  padding: 0 5px;

  &.basic-input-container--on-white {
    p {
      color: var(--default-bg);
    }
    .bi--basic-input {
      border: 1px solid var(--on-white);
      background-color: rgba(#fff, .5);
      color: var(--on-white);
    }
  }

  .bi--basic-input {
    margin-bottom: 10px;
    &.bi--basic-input__small {
      font-size: 14px;
      height: 36px;
      padding: 0 8px 0 8px;
      margin: 0;
    }
    &.bi--basic-input__error {
      border: 1px solid var(--error-border);
      &:focus {
        border: 1px solid var(--error-border);
      }
    }
    &.bi--basic-input__pointer {
      cursor: pointer;
    }
    &.bi--basic-input__readonly {
      border: 1px solid var(--main-color-border);
    }
    &.bi--basic-input__white-stroke {
      border: 1px solid var(--stroke);
    }
    &:focus {
      border: 1px solid var(--main-color-border);
    }
    &:disabled {
      background-color: var(--disabled);
    }
  }

  .bi--search__search-result {
    @include size(400px, 550px);
    @include positions($top: 70px, $left: 0, $right: 0);
    @include margin($left: auto, $right: auto);
    z-index: 2;
    position: absolute;
    background-color: var(--header-bg);
    color: var(--font-color);
    border-radius: 8px;
    border: 1px solid var(--main-color-border);
  }
}
