@use "../variables" as v;

.bi {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(#000, .5);
  padding: 0 16px 0 16px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
  color: v.$main-color-light;
  font-family: "Inter", sans-serif;
  &.textarea {
    padding: 15px;
    font-size: 14px;
    min-height: 56px;
    max-height: 200px;
    height: 120px;
    resize: vertical;
    &.textarea:focus { border: 1px solid rgba(v.$main-color, .5); }
  }
  &.search {
    height: 38px;
    font-size: 14px;
    &.search:focus { border: 1px solid rgba(v.$main-color, .5); }
  }
}

.basic-input-container {
  width: 100%;
  padding: 0 5px;

  .basic-input {
    margin-bottom: 10px;
    &.small {
      font-size: 14px;
      height: 36px;
      padding: 0 8px 0 8px;
      margin: 0;
    }
    &.error { border: 1px solid rgba(v.$error, .5); }
    &.error:focus { border: 1px solid rgba(v.$error, .5); }
    &.pointer { cursor: pointer }
    &.readonly { border: 1px solid rgba(v.$main-color, .5); }
  }
  .basic-input:focus { border: 1px solid rgba(v.$main-color, .5); }
  .basic-input:disabled { background-color: rgba(#aaa, .5) }

  .on-white {
    border: 1px solid rgba(v.$default-bg, .5);
    background-color: rgba(#fff, .5);
    color: v.$default-bg;
  }
}

.search-result {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: v.$header-bg;
  border-radius: 8px;
  border: 1px solid rgba(v.$main-color, .5);
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
