@use "../variables" as v;

.main-class {
  display: flex;
  width: 100%;
  .basic-input-button {
    margin-right: 15px;
    &.error {
      border: 1px solid var(--error-border);
    }
    &.error:focus {
      border: 1px solid var(--error-border);
    }
    &:focus {
      border: 1px solid var(--main-color-border);
    }
    &:disabled {
      color: rgba(#fff, .5);
      cursor: text;
    }
  }
}
