@use "../variables" as v;
@import "../_mixins.scss";

div.awesome-phone-input {
  width: 100%;
  position: relative;

  font-family: "Barlow", sans-serif;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  > input[type=text].phone {
    width: 100%;
    height: 47px;

    border: 1px solid #0000001A;
    box-shadow: none;

    font-size: 15px;
    font-weight: 400;
    color: #A3A5A9;

    padding: 7px 10px 7px 42px;

    @media only screen and (max-width: 425px) {
      height: 42px;
    }
  }

  > input[type=text].code {
    width: 100%;
    height: 47px;

    border: 1px solid #0000001A;
    box-shadow: none;

    font-size: 15px;
    font-weight: 400;
    color: #A3A5A9;

    padding: 7px 10px 7px 10px;
  }

  > p {
    margin: 0;

    font-size: 16px;
    font-weight: 500;
    color: #A3A5A9;

    position: absolute;

    top: 50%;
    left: 45px;

    transform: translate(0, -55%);
  }

  > div.country {
    height: 100%;
    width: 48px;

    position: absolute;

    display: grid;
    place-content: center;

    cursor: pointer;

    left: 0;
    top: 50%;

    border-right: 1px solid #0000001A;
    border-radius: 6px 0 0 6px;

    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #ECECEC94;
    }

    transform: translate(0, -50%);

    > img {
      width: 20px;
      height: 16px;
    }
  }

  > span {
    position: absolute;
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    top: calc(100% + 3px);
    left: 0;

    font-size: 11px;
    font-weight: 400;
    color: #f63563;
  }
}

.country-container {
  position: absolute;
  z-index: 999;
  width: 100%;

  left: 0;
  bottom: calc(100% + 10px);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;

  border-radius: 6px;
  border: 1px solid #00000019;

  background-color: #FFFFFF;

  @media only screen and (max-width: 425px) {
    font-size: 14px;
    border: 1px solid #eee;
  }

  > div.dial-filter {
    width: 100%;
    position: relative;

    > input[type=text] {
      margin: 20px 18px 10px 18px;

      width: calc(100% - 36px);
      height: 53px;

      border: 1px solid #00000019;
      box-shadow: none;

      font-size: 18px;
      font-weight: 400;
      color: #A3A5A9;

      padding: 15px 42px 15px 25px;

      @media only screen and (max-width: 425px) {
        font-size: 14px;
        height: 42px;
        border: 1px solid #eee;
      }

    }

    > img:first-of-type {
      position: absolute;

      top: calc(5px + 50%);
      left: 40px;

      transform: translate(-50%, -50%);

      width: 16px;
      height: 16px;
    }

    > img:last-of-type {
      position: absolute;

      top: calc(5px + 50%);
      right: 25px;

      transform: translate(-50%, -50%);
      cursor: pointer;

      width: 16px;
      height: 16px;

      opacity: .8;

      @media only screen and (max-width: 425px) {
        width: 12px;
        right: 30px;
      }
    }
  }

  > ul {
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;

    max-height: 160px;
    height: 160px;
    overflow-x: scroll;

    @include hideScrollbars();

    > li {
      width: 100%;

      display: grid;
      grid-template-columns: min-content 1fr max-content;
      grid-template-rows: min-content;

      align-items: center;

      column-gap: 15px;
      padding: 14px 18px;

      cursor: pointer;

      transition: background-color .15s ease-in-out;

      > img {
        width: 20px;
        height: 16px;
      }

      > span:first-of-type {
        color: #989898;
        font-size: 16px;
        font-weight: 300;

        @media only screen and (max-width: 425px) {
          font-size: 14px;
        }
      }

      > span:last-of-type {
        font-size: 17px;
        font-weight: 400;
        color: #000000BF;

        @media only screen and (max-width: 425px) {
          font-size: 14px;
        }
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &.active {
        background-color: #EBEBEB;
      }
    }
  }
}
