@use "../variables" as v;
@import "../mixins";

.phone-input__wrapper {
  margin-bottom: 10px;
  @include size($height: 48px, $width: 100%);
  .phone-input {
    position: relative;
    border-radius: 6px;
    outline: none;

    .phone-input__phone {
      @include size($height: 48px, $width: 100%);
      background-color: var(--color-input-background);
      font-family: "Inter", sans-serif;
      border: 1px solid var(--color-line);
      color: var(--color-font);
      border-radius: 6px;
      outline: none;
      font-size: 16px;
      padding: 7px 10px 7px 56px;
      transition: .2s;
      &.phone-input__phone--on-white {
        border: 1px solid var(--color-on-white);
        background-color: rgba(#fff, .5);
        color: var(--color-on-white);
      }
      &:focus {
        border: 1px solid var(--color-main-border);
      }
    }

    .phone-input__country {
      @include size($width: 48px, $height: 100%);
      @include positions($left: 0, $top: 50%);
      position: absolute;
      display: grid;
      place-content: center;
      cursor: pointer;
      border-right: 1px solid var(--color-line);
      border-radius: 6px 0 0 6px;
      transition: background-color .2s ease-in-out;
      transform: translate(0, -50%);
      &:hover {
        background-color: var(--color-hover);
      }
      img {
        width: 20px;
        height: 16px;
      }
    }
  }

  .country-container {
    position: absolute;
    z-index: 101;
    width: 100%;
    left: 0;
    bottom: calc(100% + 10px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    border-radius: 6px;
    border: 1px solid var(--color-line);
    background-color: var(--color-header-bg);

    .country-container__dial-filter {
      width: 100%;
      position: relative;

      .country-container__input {
        margin: 20px 18px 10px 12px;
        outline: none;
        width: calc(100% - 24px);
        height: 53px;
        border: 1px solid #00000019;
        border-radius: 6px;
        box-shadow: none;
        font-size: 18px;
        font-weight: 400;
        color: #A3A5A9;
        padding: 15px 42px 15px 45px;
        background-color: var(--color-input-background);
      }

      .country-container__input-loop {
        @include size($width: 16px, $height: 16px);
        position: absolute;
        top: calc(5px + 50%);
        left: 40px;
        transform: translate(-50%, -50%);
      }

      .country-container__input-country {
        @include size($width: 16px, $height: 16px);
        position: absolute;
        top: calc(5px + 50%);
        left: 40px;
        transform: translate(-50%, -50%);
      }
    }

    .country-container__country-list {
      @include hideScrollbars();
      @include size($width: 100%, $height: 160px, $max-height: 160px);
      overflow-x: scroll;
      padding-left: 0;
      margin-bottom: 0;

      .country-container__country-list-item {
        width: 100%;
        display: grid;
        grid-template-columns: min-content 1fr max-content;
        grid-template-rows: min-content;
        align-items: center;
        column-gap: 15px;
        padding: 14px 18px;
        cursor: pointer;
        transition: background-color .15s ease-in-out;

        .country-container__flag {
          @include size($width: 20px, $height: 16px);
        }

        &:hover {
          background-color: var(--color-hover);
        }

        &.active {
          background-color: #EBEBEB;
        }
      }
    }
    &.country-container--on-white {
      background-color: white;
      border: 1px solid var(--color-on-white);
    }
  }
}
