@use "../variables" as v;


.popup {
  position: fixed;
  background-color: v.$header-bg;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 10%;
  z-index: 2;
  max-width: 280px;
  border-radius: 8px;
}

.fade-in-class {
  animation: fadeIn ease 2.5s;
  opacity: 0;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  33% {
    opacity:1;
  }
  66% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, .5, .8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}
