@use "../variables" as v;
@import "../mixins";

.popup {
  @include margin($right: auto, $left: auto);
  @include positions($top: 10%, $right: 0, $left: 0);
  position: fixed;
  background-color: var(--header-bg);
  border: 1px solid var(--line);
  text-align: center;
  z-index: 3;
  max-width: 280px;
  border-radius: 8px;
}

.fade-in-class {
  animation: fadeIn ease 2.5s;
  opacity: 0;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  33% {
    opacity:1;
  }
  66% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, .5, .8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}
