@use "variables" as v;
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body-margin {
  padding: 0 !important;
  margin: 0 !important;
}

p, h1, h2, h3, h4, h5, li, span {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: var(--color-font);
  opacity: .9;
  &.small {
    font-size: 14px;
  }
  &.source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
  }
  &.bold {
    font-weight: 900;
  }
  &.on-white {
    color: var(--color-on-white);
  }
  &.error {
    color: var(--color-error);
  }
  &.link {
    color: var(--color-main); cursor: pointer; text-decoration: underline;
  }
  &.success {
    color: #3be83b;
  }
  &.opacity {
    opacity: .5;
  }
  &.tooltip[data-tool-tip] {
    position: relative;
    cursor: pointer;
    &::after {
      content: attr(data-tool-tip);
      background-color: var(--color-header-bg);
      border: 1px solid var(--color-font);
      color: var(--color-font);
      display: block;
      position: absolute;
      padding: 4px;
      bottom: 130%;
      left: 0;
      white-space: nowrap;
      border-radius: 5px;
      transform: scale(0);
    }
    &:hover::after {
      transform: scale(1);
    }
  }
  &.activated[data-tool-tip] {
    position: relative;
    &::after {
      content: attr(data-tool-tip);
      border: 1px solid var(--color-success);
      color: var(--color-success);
      border-radius: 6px;
      font-size: 12px;
      padding: 3px;
    }
    &.activated--deactivated {
      &::after {
        border: 1px solid var(--color-error);
        color: var(--color-error);
      }
    }
  }
}

.nuxt-link {
  text-decoration: none;
  color: var(--color-font);
}

hr {
  border: 1px solid #21262d;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-main);
}

.page-content {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-default-bg);
  .content-wrap { padding-bottom: 50px; }
}
