@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body-margin {
  padding: 0 !important;
  margin: 0 !important;
}

p, h1, h2, h3, h4, h5, li, span {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: var(--font-color);
  opacity: .9;
  &.small {
    font-size: 14px;
  }
  &.source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
  }
  &.bold {
    font-weight: 900;
  }
  &.on-white {
    color: var(--on-white);
  }
  &.error {
    color: var(--error);
  }
  &.link {
    color: var(--main-color); cursor: pointer; text-decoration: underline;
  }
  &.success {
    color: #3be83b;
  }
  &.opacity {
    opacity: .5;
  }
}

.nuxt-link {
  text-decoration: none;
  color: var(--font-color);
}

hr {
  border: 1px solid #21262d;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}

.page-content {
  position: relative;
  min-height: 100vh;
  background-color: var(--default-bg);
  .content-wrap { padding-bottom: 50px; }
}
