@mixin centers(
  $align-content: unset,
  $align-items: unset,
  $justify-content: unset,
  $flex-direction: unset,
  $text-align: unset
  ) {
  @if $align-content != unset {
    align-content: $align-content;
  }
  @if $align-items != unset {
    align-items: $align-items;
  }
  @if $justify-content != unset {
    justify-content: $justify-content;
  }
  @if $flex-direction != unset {
    flex-direction: $flex-direction;
  }
  @if $text-align != unset {
    text-align: $text-align;
  }
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top $right $bottom $left;
}

@mixin padding($top: unset, $right: unset, $bottom: unset, $left: unset) {
  padding: $top $right $bottom $left;
}

@mixin positions($top: unset, $right: unset, $bottom: unset, $left: unset) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin opacity($opacity) {
  opacity: $opacity;
}

@mixin size(
  $height: unset,
  $width: unset,
  $max-height: unset,
  $max-width: unset,
  $min-height: unset,
  $min-width: unset
  ) {
  @if $height != unset {
    height: $height;
  }
  @if $width != unset {
    width: $width;
  }
  @if $max-height != unset {
    max-height: $max-height;
  }
  @if $max-width != unset {
    max-width: $max-width;
  }
  @if $min-height != unset {
    min-height: $min-height;
  }
  @if $min-width != unset {
    min-width: $min-width;
  }
}

@mixin display($position: unset, $display: unset, $flex-direction: unset) {
  @if $position != unset {
    position: $position;
  }
  @if $display != unset {
    display: $display;
  }
  @if $flex-direction != unset {
    flex-direction: $flex-direction;
  }
}

@mixin font($font-style, $font-size, $font-weight, $font-family, $line-height, $opacity, $color) {
  color: $color;
  font-style: $font-style;
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  line-height: $line-height;
  opacity: $opacity;
}

@mixin wrapper($width, $top, $right, $bottom, $left, $display: unset) {
  width: $width;
  margin: $top $right $bottom $left;
  @if $display != unset {
    display: $display;
  }
}

@mixin avatar-box($height: unset, $width: unset, $max-height: unset, $max-width: unset) {
  height: $height;
  width: $width;
  @if $max-height != unset {
    max-height: $max-height;
  }
  @if $max-width != unset {
    max-height: $max-width;
  }
  border-radius: 50%;
}
