@mixin centers(
  $align-content: unset,
  $align-items: unset,
  $justify-content: unset,
  $display: unset,
  $flex-direction: unset
  ) {
  align-content: $align-content;
  align-items: $align-items;
  justify-content: $justify-content;
  display: $display;
  flex-direction: $flex-direction;
}

@mixin margin($top: unset, $right: unset, $bottom: unset, $left: unset) {
  margin: $top $right $bottom $left;
}

@mixin padding($top: unset, $right: unset, $bottom: unset, $left: unset) {
  padding: $top $right $bottom $left;
}

@mixin positions($top: unset, $right: unset, $bottom: unset, $left: unset) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin opacity($opacity) {
  opacity: $opacity;
}

@mixin size($height: unset, $width: unset, $max-height: unset, $max-width: unset) {
  height: $height;
  width: $width;
  max-height: $max-height;
  max-width: $max-width;
}

@mixin display($position: unset, $display: unset, $flex-direction: unset) {
  position: $position;
  display: $display;
  flex-direction: $flex-direction;
}

@mixin font($font-style, $font-size, $font-weight, $font-family, $line-height, $opacity, $color) {
  color: $color;
  font-style: $font-style;
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  line-height: $line-height;
  opacity: $opacity;
}

@mixin wrapper($width, $top, $right, $bottom, $left) {
  width: $width;
  margin: $top $right $bottom $left;
}

@mixin avatar-box($height: unset, $width: unset, $max-height: unset, $max-width: unset) {
  height: $height;
  width: $width;
  max-height: $max-height;
  max-width: $max-width;
  border-radius: 50%;
}
