:root {
  --color-header-bg-pale: rgb(31, 36, 54);
  --color-header-bg: rgb(22, 27, 34);
  --color-default-bg: rgb(13, 17, 23);
  --color-font-color: rgb(225, 232, 236);
  --color-input-background: rgba(0, 0, 0, .5);
  --color-hover: rgba(255, 255, 255, .15);
  --color-line: rgba(255, 255, 255, .25);
  --color-shadow: rgba(255, 255, 255, 0);
  --color-main: rgb(88, 167, 254);
  --color-main-border: rgba(88, 167, 254, .5);
  --color-main-disable: rgba(88, 167, 254, .35);
  --color-main-hover: rgba(88, 167, 254, .25);
  --color-main-dark: rgb(57, 153, 255);
  --color-main-pale: rgb(124, 185, 252);
  --color-main-light: rgb(225, 232, 236);
  --color-error: rgb(255, 51, 51);
  --color-error-border: rgba(255, 51, 51, .5);
  --color-error-hover: rgba(255, 51, 51, .25);
  --color-error-disabled: rgba(255, 51, 51, .35);
  --color-error-pale: rgb(248, 107, 107);
  --color-on-white: rgba(0, 0, 0, .75);
  --color-success: rgba(59, 232, 59, .5);
  --color-background-success: rgba(144, 238, 144, .25);
  --color-stroke: rgba(225, 232, 236, .25);
  --color-disabled: rgba(0, 0, 0, .25);
  --color-gold: rgb(255, 215, 0);
  --color-gold-hover: rgba(255, 215, 0, 0.25);
}

//[data-theme="dark"] {
//  --color-header-bg-pale: rgb(31, 36, 54);
//  --color-header-bg: rgb(22, 27, 34);
//  --color-default-bg: rgb(13, 17, 23);
//  --color-font-color: rgb(225, 232, 236);
//  --color-input-background: rgba(0, 0, 0, .5);
//  --color-hover: rgba(255, 255, 255, .15);
//  --color-line: rgba(255, 255, 255, .25);
//  --color-shadow: rgba(255, 255, 255, 0);
//  --color-main: rgb(88, 167, 254);
//  --color-main-border: rgba(88, 167, 254, .5);
//  --color-main-disable: rgba(88, 167, 254, .35);
//  --color-main-hover: rgba(88, 167, 254, .25);
//  --color-main-dark: rgb(57, 153, 255);
//  --color-main-pale: rgb(124, 185, 252);
//  --color-main-light: rgb(225, 232, 236);
//  --color-error: rgb(255, 51, 51);
//  --color-error-border: rgba(255, 51, 51, .5);
//  --color-error-hover: rgba(255, 51, 51, .25);
//  --color-error-disabled: rgba(255, 51, 51, .35);
//  --color-error-pale: rgb(248, 107, 107);
//  --color-on-white: rgba(0, 0, 0, .75);
//}
//
//[data-theme="light"] {
//  --color-header-bg-pale: rgb(204, 204, 204);
//  --color-header-bg: rgba(239, 239, 239);
//  --color-default-bg: rgba(255, 255, 255);
//  --color-font-color: rgb(13, 17, 23);
//  --color-input-background: rgba(239, 239, 239, .1);
//  --color-hover: rgba(0, 0, 0, .15);
//  --color-line: rgba(0, 0, 0, .25);
//  --color-shadow: rgba(0, 0, 0, .1);
//  --color-main: rgb(57, 153, 255);
//  --color-main-border: rgba(57, 153, 255);
//  --color-main-disable: rgba(88, 167, 254, .35);
//  --color-main-hover: rgba(88, 167, 254, .25);
//  --color-main-dark: rgb(88, 167, 254);
//  --color-main-pale: rgb(124, 185, 252);
//  --color-main-light: rgb(225, 232, 236);
//  --color-error: rgb(255, 51, 51);
//  --color-error-border: rgba(255, 51, 51, .5);
//  --color-error-hover: rgba(255, 51, 51, .25);
//  --color-error-disabled: rgba(255, 51, 51, .35);
//  --color-error-pale: rgb(248, 107, 107);
//  --color-on-white: rgba(0, 0, 0, .65);
//}
