.about-container {
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  .about-content {
    padding: 15px;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    position: relative;
    width: 75%;
    height: 75%;
    .ava {
      border-radius: 15px;
      margin: 15px;
      float: left;
    }
    .about-text {
      display: block;
    }
  }
}
