@use "variables" as v;

.account {
  width: 70%;
  margin: 20px auto 0;
  .side-bar {
    width: 240px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$default-bg;
    .picture {
      border-radius: 50%;
      margin-bottom: 25px;
    }
    .links {
      display: flex;
      align-items: center;
      .link {
        margin-top: 10px;
        width: 30px;
        height: 30px;
      }
    }
  }
  .content {
    margin-left: 250px;
    .title {
      height: 230px;
      padding-top: 10px;
    }
    .item {
      width: 100%;
      height: 500px;
      &.border {
        border-right: 1px solid rgba(v.$main-color-light, .25);
      }
    }
  }
}
