@use "variables" as v;

.account {
  width: 70%;
  margin: 0 auto;
  h1 { margin: 0; }
  .account-content {
    border: 1px solid rgba(v.$main-color-light, 0.35);
    border-radius: 35px;
    display: flex;
    height: 250px;
    padding: 15px;
    margin: 15px 0 15px 0;
    .account-header-avatar {
      min-width: 250px;
      min-height: 250px;
      border-radius: 50%;
    }
    .account-header-data {
      display: flex;
      .buttons {
        margin-left: 15px;
      }
    }
    &.activity {
      height: 250px;
      .section-activity {
        width: 100%;
        height: 100%;
        &.border {
          border-right: 1px solid rgba(v.$main-color-light, 0.5);
        }
      }
    }
  }
}
