body {
  margin: 0;
  background-color: #181919;
}
.blog-page {
  height: 100vh;
  margin-left: 320px;
  text-align: center;
  .latest-releases {
    width: 1100px;
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    .container-block {
      width: 100%;
      height: 100%;
      .items {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
      }
      .block {
        width: 535px;
        height: 100%;
        border-radius: 15px;
        background-color: #131312;
        cursor: pointer;
        transition: 0.3s;
      }
      .block:hover {
        box-shadow: 0 0 20px #ee9004;
        transform: scale(1.05);
      }
      .image {
        width: 135px;
        height: 100%;
        background-color: #202021;
        border-radius: 15px;
      }
    }
  }
  h1 {
    font-size: 35px;
  }
}
