body {
  margin: 0;
  background-color: #181919;
}
.blog-page {
  height: 100vh;
  margin-left: 320px;
  .latest-releases {
    width: 1100px;
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    .container-block {
      width: 100%;
      height: 100%;
      .items {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
      }
    }
  }
  h1 {
    font-size: 35px;
  }
}
