.basic-button {
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid green;
  font-weight: 300;
  transition: 0.5s;
  p { margin: 0 }
}

.basic-button:disabled {
  background-color: rgba(green, 0.5);
  cursor: auto;
}

.transparent {
  background-color: transparent;
  color: green;
}
