.contact {
  width: 80%;
  height: 800px;
  display: flex;
  margin: 35px auto 50px;

  .left-side-contact {
    width: 50%;
    height: 600px;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
    }
    .left-side-contact-content {
      margin-top: 35px;
      h1 {
        display: flex;
        justify-content: center;
        font-size: 23px;
      }
      .contact-fields {
        .basic {
          width: 70%;
          height: 30px;
          border-radius: 5px;
          display: block;
          margin: auto auto 25px;
          border: 1px solid rgba(255,255,255,0.1);
          background-color: #131312;
          outline: none;
          color: white;
          transition: 0.2s;
          padding: 20px;
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .basic:focus {
          border-radius: 8px;
          box-shadow: 0 0 20px #038a03;
          width: 80%;
        }
        .textarea {
          display: block;
          margin: auto auto 25px;
          width: 70%;
          height: 150px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 1px solid rgba(255,255,255,0.1);
          background-color: #131312;
          border-radius: 5px;
          resize: none;
          outline: none;
          color: white;
          transition: 0.2s;
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
        }
        .textarea:focus {
          border-radius: 8px;
          box-shadow: 0 0 20px #038a03;
          width: 80%;
        }
      }
      .btn-hover {
        width: 50%;
        height: 30px;
        border-radius: 5px;
        display: block;
        margin: auto auto 25px;
        font-size: 16px;
        font-weight: 200;
        color: #131313;
        cursor: pointer;
        text-align:center;
        border: none;
        background-size: 300% 100%;

        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
      .btn-hover:hover {
        width: 65%;
        color: #fff;
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
      .btn-hover.color-5 {
        background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
      }
    }
  }

  .right-side-contact {
    width: 50%;
    height: 600px;
    .top-items {
      width: 100%;
      height: 150px;
      display: flex;
      .left-side {
        height: 100%;
        width: 50%;
      }
      .right-side {
        height: 100%;
        width: 50%;
      }
    }
    .bottom-items {
      width: 100%;
      height: 430px;
    }
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      margin-bottom: 15px;
    }
  }
}
