.header-title {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 125px;
}

.contact {
  width: 100%;
  height: 700px;
  display: flex;
  margin: 0 auto;
  background-color: #181919;

  .left-side-contact {
    width: 50%;
    height: 600px;
    margin-top: 50px;
    border-right: 0.5px solid white;
    text-align: center;
    h1 {
      display: flex;
      justify-content: center;
      font-size: 23px;
    }
    .footer-note {
      font-size: 16px;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 50px;
    }
    .left-side-contact-content {
      margin-top: 35px;
      .contact-fields {
        .basic {
          width: 50%;
          height: 30px;
          border-radius: 5px;
          display: block;
          margin: auto auto 25px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: #131312;
          outline: none;
          color: white;
          transition: 0.2s;
          padding: 20px;
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        .basic:focus {
          border-radius: 8px;
          box-shadow: 0 0 20px #038a03;
          width: 60%;
        }

        .textarea {
          display: block;
          margin: auto auto 25px;
          width: 50%;
          height: 150px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: #131312;
          border-radius: 5px;
          resize: none;
          outline: none;
          color: white;
          transition: 0.2s;
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
        }

        .textarea:focus {
          border-radius: 8px;
          box-shadow: 0 0 20px #038a03;
          width: 60%;
        }
      }
    }
  }

  .right-side-contact {
    width: 50%;
    margin-top: 50px;
    .top-items {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .bottom-items {
      width: 100%;
      height: 200px;
      p {
        margin: 0 auto;
      }
    }
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      margin-bottom: 15px;
    }
  }
}
