@use "variables" as v;


.account-header {
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  .account-header-inner {
    width: 50%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid v.$main-color-light;
    @media only screen and (max-width: 930px) { width: 100%; }
    .item-box {
      height: calc(100% - 15px);
      padding-top: 15px;
      margin: 0 auto;
      .item {
        cursor: pointer;
        margin: 0;
        color: rgba(#fff, 0.5);
        &.item-active {
          border-bottom: 3px solid v.$main-color;
          color: v.$main-color-light;
          padding-bottom: 15px;
        }
        @media screen and (max-width: 520px) { font-size: 12px; }
      }
      .item:hover { color: v.$main-color-light; }
    }
  }
}

.account-preferences {
  margin: 0 auto;
  width: 55%;
  padding-top: 70px;

  .item {
    border-bottom: 1px solid rgba(v.$main-color-light, 0.25);
    .item-content {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      &.texts { display: block; }
    }
    &.danger {
      border-bottom: 1px solid rgba(v.$error, 0.25);
    }
  }
  .password-requirements {
    width: 450px;
    display: flex;
    .item { margin: 0 0 10px 10px }
    .status {
      width: 20px;
      height: 20px;
    }
  }
}
