@use "variables" as v;

.error-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: v.$bg1;
  .error {
    text-align: center;
    font-size: 16px;
    h1, p {
      font-family: "Lato", sans-serif;
      color: v.$mcl;
    }
    h1 {
      font-size: 52px;
    }
    p {
      font-size: 28px;
    }
    .nuxt-link {
      color: #69BEEB;
    }
  }
}
