.footer {
  width: 100%;
  height: 50px;
  background-color: #191919;
  .footer-content {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    .right-side-footer {
      width: 50%;
      display: flex;
      p {
        margin-right: 15px;
        font-size: 12px;
        color: grey;
        font-family: "Heiti SC", sans-serif;
      }
    }
    .left-side-footer {
      width: 50%;
      text-align: right;
      p {
        padding-top: 5px;
        margin-right: 15px;
        font-size: 12px;
        color: grey;
        font-family: "Heiti SC", sans-serif;
      }
    }
  }
}
