.header {
  display: flex;
  width: 100%;
  height: 80px;
  .inner-header {
    margin: 0 auto;
    width: 75%;
    .header-content {
      display: flex;
      justify-content: space-between;
      .header-button {
        align-items: center;
        display: flex;
        margin-left: 20px;
      }
      .header-links {
        margin-right: 20px;
        font-size: 20px;
        font-family: "Ubuntu", sans-serif;
        transition: 0.3s;
      }
      .header-links:hover {
        color: green;
        transform: scale(1.1);
      }
    }
  }
}
