.header {
  display: flex;
  width: 100%;
  height: 80px;
  .inner-header {
    margin: 0 auto;
    width: 75%;
    .header-content {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 20px;
        font-family: "Ubuntu", sans-serif;
        transition: 0.3s;
      }
      h3:hover {
        color: green;
        transform: scale(1.1);
      }
    }
  }
}
