.content {
  height: 700px;
  text-align: center;
  .center-text {
    padding: 180px 0;
    h1 {
      font-size: 50px;
      font-family: "Heiti SC", sans-serif;
      font-weight: 200;
      color: white;
    }
    h3 {
      font-size: 22px;
      font-family: "Heiti SC", sans-serif;
      font-weight: 200;
      color: white;
    }
  }
}

.title {
  font-family: "Menlo", sans-serif;
  color: white;
  font-size: 22px;
}

.left-about {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.right-about {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.about {
  border-radius: 30px;
  width: 80%;
  height: 550px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: #191919;
  margin-bottom: 50px;
  &.blog {
    background-color: #212121;
  }
}

h1 {
  font-size: 50px;
  font-family: "Heiti SC", sans-serif;
  font-weight: 200;
  color: white;
  &.small {
    font-size: 22px
  }
  span.typed-text {
    color: white;
  }
  span.cursor {
    display: inline-block;
    margin-left: 3px;
    width: 2px;
    background-color: #fff;
    animation: cursorBlink 1s infinite;
  }
  span.cursor.typing {
    animation: none;
  }
}
@keyframes cursorBlink {
  49% { background-color: #fff; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
}

.code-block {
  display: inline-block;
  align-items: center;
  background-color: #363636;
  border-radius: 5px;
  padding: 4px;
  &.contacts-fields {
    margin-bottom: 7px;
  }
}

p {
  font-family: "Menlo", sans-serif;
  color: white;
  font-size: 15px;
}
