@use "variables" as v;

.content {
  height: 700px;
  text-align: center;
  background-color: v.$bg2;
  .center-text {
    padding: 180px 0;
    h3 {
      font-size: 22px;
      font-family: "Heiti SC", sans-serif;
      font-weight: 200;
      color: white;
    }
  }
}

.about {
  width: 100%;
  height: 550px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: v.$bg1;
  justify-content: space-between;
  vertical-align: center;
  &.blog {
    background-color: v.$bg2;
  }
}

