@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Merriweather+Sans:wght@300&family=Ubuntu:wght@300&display=swap');
.content {
  height: 700px;
  text-align: center;
  .center-text {
    padding: 180px 0;
    h1 {
      font-size: 50px;
      font-family: "Heiti SC", sans-serif;
      font-weight: 200;
      color: white;
    }
    h3 {
      font-size: 22px;
      font-family: "Heiti SC", sans-serif;
      font-weight: 200;
      color: white;
    }
  }
}

.title {
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  font-size: 25px;
}

.left-about {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  .latest-releases {
    background-color: #131313;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
    transition: 0.3s;
  }
  .latest-releases:hover {
    box-shadow: 0 0 20px #ee9004;
    transform: scale(1.05);
  }
  img {
    vertical-align: middle;
  }
}
.right-about {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  .filter-white{
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(106deg) brightness(110%) contrast(101%);
    margin-left: 5px;
  }
  .icons {
    display: flex;
    justify-content: center;
    img {
      transition: 0.3s;
      margin-left: 5px;
      margin-right: 5px;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}

.about {
  border-radius: 30px;
  width: 80%;
  height: 550px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: #181919;
  margin-bottom: 50px;
  &.blog {
    background-color: #181919;
  }
}

h1 {
  font-size: 50px;
  font-family: "Heiti SC", sans-serif;
  font-weight: 200;
  color: white;
  &.small {
    font-size: 22px
  }
  span.typed-text {
    color: white;
  }
  span.cursor {
    display: inline-block;
    margin-left: 3px;
    width: 2px;
    background-color: #fff;
    animation: cursorBlink 1s infinite;
  }
  span.cursor.typing {
    animation: none;
  }
}
@keyframes cursorBlink {
  49% { background-color: #fff; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
}

.code-block {
  display: inline-block;
  align-items: center;
  background-color: #363636;
  border-radius: 5px;
  padding: 4px 4px 4px 8px;
  font-family: "Menlo", sans-serif;
  color: white;
  &.contacts-fields {
    margin-bottom: 7px;
  }
}

p {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 18px;
}
