@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Merriweather+Sans:wght@300&family=Ubuntu:wght@300&display=swap');
.content {
  height: 700px;
  text-align: center;
  .center-text {
    padding: 180px 0;
    h3 {
      font-size: 22px;
      font-family: "Heiti SC", sans-serif;
      font-weight: 200;
      color: white;
    }
  }
}

.title {
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  font-size: 25px;
}

.about {
  width: 100%;
  height: 550px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: #181919;
  justify-content: space-between;
  vertical-align: center;
  &.blog {
    background-color: #131313;
  }
}

.left-about {
  width: 45%;
  text-align: left;
  padding-left: 5%;
  padding-top: 50px;
  img {
    width: 22px;
    height: 22px;
  }
  .ex {
    display: inline-flex;
    background-color: white;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    padding: 2px;
  }
  .latest-releases {
    background-color: #131313;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
    transition: 0.3s;
    display: flex;
    cursor: pointer;
    .latest-release-img {
      height: 100%;
      width: 120px;
      border-radius: 10px 0 0 10px;
      background-color: #363636;
    }
    .latest-release-content {
      padding: 8px;
      p { margin: 0 }
    }
  }
  .latest-releases:hover {
    box-shadow: 0 0 20px #ee9004;
    transform: scale(1.05);
  }
  img {
    vertical-align: middle;
  }
}
.right-about {
  width: 40%;
  text-align: left;
  padding-right: 5%;
  padding-top: 50px;
  .filter-white{
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(106deg) brightness(110%) contrast(101%);
    margin-left: 5px;
  }
  .icons {
    display: flex;
    justify-content: center;
    .set-background {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
      padding: 5px;
    }
    img {
      transition: 0.3s;
      margin-left: 5px;
      margin-right: 5px;
      width: 50px;
      height: 50px;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}

.big-text {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  color: white;
  &.post-title {
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: "Ubuntu", sans-serif;
  }
  &.small {
    font-size: 22px
  }
  &.smaller {
    font-size: 18px;
  }
  &.blog-logo {
    text-align: center;
  }
  span.typed-text {
    color: white;
    font-family: "Ubuntu", sans-serif;
  }
  span.cursor {
    display: inline-block;
    margin-left: 3px;
    width: 2px;
    background-color: #fff;
    animation: cursorBlink 1s infinite;
  }
  span.cursor.typing {
    animation: none;
  }
}
@keyframes cursorBlink {
  49% { background-color: #fff; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
}

p {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 18px;
}

.paragraph-begin {
  margin-left: 3em
}

.bottom-text {
  margin-top: 100px
}
