@use "variables" as v;

p, h1, h2, h3, h4, h5, li {
  font-family: "Ubuntu", sans-serif;
  color: white;
  opacity: 0.8;
}

li {
  font-size: 18px;
}

html, body {
  margin: 0;
}

.nuxt-link {
  text-decoration: none;
  color: v.$mcl;
}

.paragraph {
  font-size: 14px;
  opacity: 0.9;
  color: v.$mcl;
  &.average { font-size: 16px; }
  &.medium { font-size: 18px; }
  &.large { font-size: 24px; }
  &.right { float: right; }
  &.error { color: v.$error; }
  &.on-white-paragraph { color: black; }
  &.link { color: v.$mcm; cursor: pointer; text-decoration: underline }
  &.success { color: lightgreen }
  &.opacity { opacity: 0.5; }
  &.bold { font-weight: 500 }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: v.$mcm;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

li {
  margin: 10px;
}
