.main {
  margin: 0;
  background: url("assets/video/background-darked.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media only screen and (max-width: 860px) {
    overflow-y: scroll;
  }
}

.header {
  display: block;
  width: 100%;
  height: 80px;
  .inner-header {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    h3 {
      margin: 0 20px 0 20px;
      font-size: 16px;
      font-family: "Ubuntu", sans-serif;
      transition: 0.3s;
    }
    h3:hover {
      color: green;
      font-size: 20px;
    }
  }
}

.ripple {
  border-radius: 3px;
  background-position: center;
  transition: background 0.8s;
  width: 236px;
  height: 30px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  color: white;
  cursor: pointer;
}
.ripple:hover {
  background: rgba(145, 145, 145, 0.33) radial-gradient(circle, transparent 1%, rgba(145, 145, 145, 0.33) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(213, 213, 213, 0.33);
  background-size: 100%;
  transition: background 0s;
}
