.main {
  background: url("assets/video/background-darked.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media only screen and (max-width: 860px) {
    overflow-y: scroll;
  }
}

.header {
  display: block;
  width: 100%;
  height: 80px;
  .inner-header {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    h3 {
      margin: 0 20px 0 20px;
      font-size: 20px;
      font-family: "Ubuntu", sans-serif;
      transition: 0.3s;
    }
    h3:hover {
      color: green;
      transform: scale(1.1);
    }
  }
}

.ripple {
  border-radius: 3px;
  background-position: center;
  transition: background 0.8s;
  width: 236px;
  height: 30px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  color: white;
  cursor: pointer;
}
.ripple:hover {
  background: rgba(145, 145, 145, 0.33) radial-gradient(circle, transparent 1%, rgba(145, 145, 145, 0.33) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(213, 213, 213, 0.33);
  background-size: 100%;
  transition: background 0s;
}

.nuxt-link {
  text-decoration: none;
  padding-top: 5px;
  color: white;
}

.code-block {
  display: inline-block;
  align-items: center;
  background-color: #363636;
  border-radius: 5px;
  padding: 4px 4px 4px 8px;
  font-family: "Menlo", sans-serif;
  color: white;
  transition: 0.25s;
  &.code-block-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #038a03;
    cursor: pointer;
  }
}

.post-preview {
  width: 800px;
  height: 150px;
  background-color: #131313;
  margin: 0 auto 15px;
  border-radius: 15px;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  &.main-page-blog {
    width: 600px;
    margin: 0 0 0 15px;
  }
  &.home-page {
    width: 650px;
    height: 120px;
    margin: 20px;
    &.skeleton {
      background-color: #131313;
    }
  }
  .post-preview-img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    background-color: #202021;
    p { margin: 0 }
    img {
      height: 150px;
      width: 150px;
      margin: 0 auto;
      border-radius: 15px;
    }
    &.home-page-img {
      height: 120px;
      width: 120px;
      img {
        height: 120px;
        width: 120px;
        margin: 0 auto;
        border-radius: 15px;
      }
    }
    &.skeleton-img {
      animation: pulse-bg 1s infinite;
    }
  }
  .post-preview-content {
    height: 150px;
    width: 650px;
    padding: 15px;
    &.main-page-blog-preview-content {
      width: 400px;
    }
    &.home-page-preview-content {
      height: 100px;
      width: 550px;
      padding: 8px;
    }
    p { margin: 0 }
    .plot {
      font-size: 16px;
      margin: 10px 0 10px 0;
    }
    .date {
      font-size: 12px;
      opacity: 0.5;
    }
  }
  &.skeleton {
    background-color: #131313;
  }
}

.post-preview:hover {
  box-shadow: 0 0 20px #ee9004;
  transform: scale(1.03);
}

.basic-input {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  display: block;
  margin: auto auto 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #131312;
  outline: none;
  color: white;
  transition: 0.2s;
  padding: 20px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.search-field {
    left: 50%;
    width: 300px;
    padding: 8px;
    transition: 0.2s;
    position: absolute;
  }
  &.textarea {
    width: 50%;
    height: 150px;
    box-sizing: border-box;
    resize: none;
  }
}
.basic-input:hover, .basic-input:focus {
  border-radius: 8px;
  box-shadow: 0 0 20px #038a03;
  transform: scale(1.05);
}

@keyframes pulse-bg {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #303030;
  }
  100% {
    background-color: #222;
  }
}

.skeleton-text {
  background-color: #3f3f3f;
  width: 50%;
  height: 12px;
  margin: 10px;
  border-radius: 5px;
  animation: pulse-bg 1s infinite;
  &.skeleton-header {
    height: 35px;
    margin: 15px auto;
  }
  &.plot {
    width: 80%;
    &.skeleton-text-centered {
      margin: 10px auto;
    }
  }
}

.date-pick {
  width: 230px;
  background-color: #131312;
  outline: none;
  border: 1px solid rgba(255,255,255,0.1);
  height: 25px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  &.filter {
    margin-bottom: 15px;
  }
  &.date-pick-active, &.filter:hover {
    transform: scale(1.1);
    border-radius: 6px;
    box-shadow: 0 0 20px #038a03;
  }
}
.date-pick:hover {
  transform: scale(1.1);
  border-radius: 6px;
  box-shadow: 0 0 20px #038a03;
}
