@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body-margin {
  padding: 0 !important;
  margin: 0 !important;
}

p, h1, h2, h3, h4, h5, li {
  //font-family: "Menlo", sans-serif;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: v.$main-color-light;
  opacity: 0.8;
  margin-right: 5px;
  margin-left: 5px;
}

.font-second {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  p, h1, h2, h3, h4, h5, li {
    font-family: "Inter", sans-serif;
    font-weight: 100;
  }
}

li {
  font-size: 18px;
}

.nuxt-link {
  text-decoration: none;
  color: v.$main-color-light;
}

.paragraph {
  font-size: 14px;
  opacity: 0.9;
  color: v.$main-color-light;
  &.average { font-size: 16px; }
  &.medium { font-size: 18px; }
  &.large { font-size: 24px; }
  &.right { float: right; }
  &.on-white-paragraph { color: v.$default-bg; }
  &.error { color: v.$error }
  &.link { color: v.$main-color; cursor: pointer; text-decoration: underline }
  &.success { color: lightgreen }
  &.opacity { opacity: 0.5; }
  &.bold { font-weight: 500 }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: v.$main-color;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

li {
  margin: 10px;
}

.mt { margin-top: 10px; }
.mr { margin-right: 10px; }

.page-content {
  position: relative;
  min-height: 100vh;
  background-color: v.$default-bg;
  .content-wrap {
    padding-bottom: 50px;
  }
}

.code-block {
  background-color: #ccc;
  border-radius: 10%;
  padding: 4px;
}
