@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* { box-sizing: border-box; }

.body-margin {
  padding: 0 !important;
  margin: 0 !important;
}

p, h1, h2, h3, h4, h5, li {
  // Source Sans Pro
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: var(--font-color);
  opacity: .8;
  margin-right: 5px;
  margin-left: 5px;
}

.nuxt-link {
  text-decoration: none;
  color: var(--font-color);
}

.paragraph {
  font-size: 14px;
  opacity: .9;
  color: var(--font-color);
  &.small { font-size: 12px }
  &.average { font-size: 16px; }
  &.medium { font-size: 18px; }
  &.large { font-size: 24px; }
  &.right { float: right; }
  &.on-white-paragraph { color: var(--on-white); }
  &.error { color: var(--error) }
  &.link { color: var(--main-color); cursor: pointer; text-decoration: underline }
  &.success { color: lightgreen }
  &.bold { font-weight: 500 }
}

.center { text-align: center; }
.flex { display: flex; }
.relative { position: relative; }
.block { display: block; }
.baseline { align-items: baseline; }
.mt { margin-top: 10px; }
.mb { margin-bottom: 10px; }
.mrl { margin-right: 10px; margin-left: 10px }
.nmp { padding: 0; margin: 0; }
.fr { float: right; }
.fl { float: left; }
.opacity { opacity: .5; }
.pointer { cursor: pointer }

li { margin: 10px; }
hr { opacity: .25; }
li { font-size: 18px; }
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}

.page-content {
  position: relative;
  min-height: 100vh;
  background-color: var(--default-bg);
  .content-wrap { padding-bottom: 50px; }
}

.code-block {
  background-color: #ccc;
  border-radius: 10%;
  padding: 4px;
}

