.post-content {
  height: 100vh;
  margin-left: 400px;
  width: 65%;
  .post-preview {
    width: 800px;
    height: 150px;
    background-color: #131313;
    margin: 0 auto 15px;
    border-radius: 15px;
    display: flex;
    transition: 0.3s;
    cursor: pointer;
    .post-preview-img {
      height: 150px;
      width: 150px;
      border-radius: 15px;
      background-color: #202021;
    }
    .post-preview-content {
      height: 150px;
      width: 650px;
      padding: 15px;
      p { margin: 0 }
      .plot {
        font-size: 16px;
        margin: 10px 0 10px 0;
      }
    }
  }
  .post-preview:hover {
    box-shadow: 0 0 20px #ee9004;
    transform: scale(1.03);
  }
  .description-text {
    margin-top: 55px;
    margin-bottom: 55px;
    white-space: pre-wrap;
  }
}
