.blog-header {
  width: 100%;
  height: 70px;
  background-color: #191919;
  border-bottom: 0.5px solid rgba(255,255,255,0.1);
  .search-div {
    padding-top: 20px;
  }
  .search-box {
    position: absolute;
    width: 450px;
    border-radius: 5px;
    background-color: #202021;
    border: 1px solid rgba(#fff, 0.25);
    left: calc(50% - 75px);
    top: 7.5%;
    z-index: 99;
    .post-box {
      align-items: center;
      height: 50px;
      display: flex;
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      transition: 0.3s;
      cursor: pointer;
      p {
        margin: 0;
        padding-right: 10px;
      }
    }
    .post-box:hover {
      background-color: rgba(#fff, 0.25);
    }
  }
}
