.side-bar {
  position: fixed;
  height: 100vh;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #202021;
  .side-bar-menu {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-left: 5px;
    .link-href, .link-href:link, .link-href:visited {
      text-decoration: none;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-size: 19px;
    }
    .link-href:hover, .link-href:active {
      color: #20C20E;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 15px;
    }
    li {
      display: block;
      padding: 0 20px;
      margin-top: 10px;
    }
    .underline-text {
      position: relative;
      display: block;
      cursor: pointer;
    }
    .underline-text:before, .underline-text:after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0;
      margin-top: -0.5px;
      background: #20C20E;
    }

    .underline-text:before {
      left: -2.5px;
    }

    .underline-text:after {
      right: 2.5px;
      background: #fff;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .underline-text:hover:before {
      background: #20C20E;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .underline-text:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
    .filters {
      padding: 0 0 0 20px;
      border-top: 0.5px solid rgba(255,255,255,0.1);
      .date-pick {
        width: 230px;
        background-color: #131312;
        outline: none;
        border: 1px solid rgba(255,255,255,0.1);
        height: 25px;
        margin-bottom: 10px;
        color: white;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        transition: 0.2s;
        &.date-pick-active {
          transform: scale(1.1);
          border-radius: 6px;
          box-shadow: 0 0 20px #038a03;
        }
      }
      .btn-hover {
        width: 235px;
        height: 30px;
        border-radius: 5px;
        display: block;

        font-size: 16px;
        font-weight: 200;
        color: #131313;
        cursor: pointer;
        text-align:center;
        border: none;
        background-size: 300% 100%;

        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
      .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
      .btn-hover.color-5 {
        background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
      }
    }
  }
  h1 {
    margin-top: 30px;
    transition: 0.3s;
    font-size: 50px;
  }
  h1:hover {
    color: green;
    transform: scale(1.2);
  }
}
