.side-bar {
  position: fixed;
  height: 100vh;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0e0c0c;
  .side-bar-menu {
    width: 100%;
    height: 300px;
    margin-top: 70px;
    margin-left: 50px;
    h3 {
      color: white;
      font-size: 20px;
      font-family: "Heiti SC", sans-serif;
    }
    hr {
      margin-left: -30px;
      width: 80%;
    }
  }
  h1 {
    margin-top: 30px;
    transition: 0.3s;
    font-size: 50px;
  }
  h1:hover {
    color: green;
    transform: scale(1.2);
  }
}
