.side-bar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: #0e0c0c;
  text-align: center;
  .side-bar-menu {
    width: 100%;
    height: 300px;
    margin-top: 70px;
    h3 {
      color: white;
    }
  }
  h1 {
    margin-top: 25px;
    transition: 0.3s;
    font-size: 40px;
  }
  h1:hover {
    color: green;
    transform: scale(1.2);
  }
}
