@use "variables" as v;

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: v.$bg2;

  .login-content {
    height: 100vh;
    width: 50%;
    background-color: v.$bg1;
    .login-title {
      text-align: center;
      font-size: 52px;
    }
    @media only screen and (max-width: 930px) {
      display: none;
    }
  }

  .login-header {
    width: 80%;
    right: 17%;
    height: 50px;
    position: absolute;
    top: 0;
    p {
      padding: 15px;
    }
  }

  .login-inputs {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 930px) {
      width: 90%;
      height: 100vh;
      margin-top: 50px;
    }

    .login-inputs-container {
      width: 450px;
      .login-options {
        display: flex;
        .vertical-line {
          width: 1px;
          background-color: white;
          height: 50px;
          float: left;
          opacity: 0.5;
          margin: 0 20px 0 20px;
        }
        .choose {
          cursor: pointer;
          transition: .2s;
          color: white;
        }
        .choose:hover {
          color: v.$mcm;
        }
      }
      .login-inputs-container-two-fa {
        text-align: center;
      }

      .password-requirement {
        border-radius: 5px;
        border: 1px solid rgba(#fff,0.9);
        .flex {
          display: flex;
        }
        p {
          padding-left: 15px;
          color: white;
          opacity: 0.9;
        }
      }

    }
  }
}
