@use "variables" as v;

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: v.$bg1;

  .login-content {
    height: 100vh;
    width: 40%;
    background-color: v.$bg1;
    @media only screen and (max-width: 930px) {
      display: none;
    }
  }

  .login-header {
    width: 80%;
    left: 17%;
    height: 50px;
    position: absolute;
    top: 0;
    p {
      padding: 15px;
    }
  }

  .login-inputs {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 930px) {
      width: 90%;
      height: 100vh;
      margin-top: 50px;
    }

    .login-inputs-container {
      width: 450px;
      .login-options {
        display: flex;
        .choose {
          cursor: pointer;
          transition: .2s;
          color: white;
        }
        .choose:hover {
          color: v.$mcm;
        }
      }
      .login-inputs-container-two-fa {
        text-align: center;
      }
    }
  }
}
