@use "variables" as v;

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: v.$header-bg;

  .login-content {
    height: 100vh;
    width: 50%;
    background-color: v.$default-bg;
    .login-title {
      height: 25%;
      font-size: 52px;
      .login-title-header {
        cursor: pointer;
        transition: .2s;
      }
      .login-title-header:hover {
        color: v.$main-color;
        font-size: 60px;
      }
    }
    .login-welcome-texts {
      margin: 0 auto;
      width: 90%;
      height: 50%;
      .login-community {
        width: 75%;
        margin: 0 auto;
      }
    }
    @media only screen and (max-width: 930px) { display: none; }
  }

  .login-header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    p { padding: 15px; }
  }

  .login-inputs {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 930px) {
      width: 90%;
      height: 100vh;
      margin-top: 50px;
    }

    .login-inputs-container {
      width: 450px;
      .login-options {
        display: flex;
        .vertical-line {
          width: 1px;
          background-color: v.$main-color-light;
          height: 50px;
          float: left;
          opacity: 0.5;
          margin: 0 20px 0 20px;
        }
        .choose {
          cursor: pointer;
          transition: .2s;
          color: v.$main-color-light;
        }
        .choose:hover { color: v.$main-color; }
      }

      .password-requirement {
        border-radius: 5px;
        border: 1px solid rgba(#fff,0.9);
        p {
          padding-left: 15px;
          color: v.$main-color-light;
          opacity: 0.9;
        }
      }

    }
  }
}
