$header-bg-page: rgb(31, 36, 54);
$header-bg: rgb(22, 27, 34);
$default-bg: rgb(13, 17, 23);

$main-color: rgb(88, 167, 254);
$main-color-page: rgb(124, 185, 252);
$main-color-dark: rgb(57, 153, 255);
$main-color-light: rgb(225, 232, 236);

$error: rgb(255, 51, 51);
$error-pale: rgb(248, 107, 107);


[data-theme="dark"] {
  --header-bg-page: rgb(31, 36, 54);
  --header-bg: rgb(22, 27, 34);
  --default-bg: rgb(13, 17, 23);
  --font-color: rgb(225, 232, 236);
}

[data-theme="light"] {
  --header-bg-page: rgb(204, 204, 204);
  --header-bg: rgba(239, 239, 239, 0.81);
  --default-bg: rgba(185, 185, 185, 0.81);
  --font-color: rgb(13, 17, 23);
}
