$header-bg: rgb(22, 27, 34);
$header-bg-page: rgb(31, 36, 54);
$default-bg: rgb(13, 17, 23);

$main-color: rgb(88, 167, 254);
$main-color-page: rgb(124, 185, 252);
$main-color-dark: rgb(57, 153, 255);
$main-color-light: rgb(225, 232, 236);

$error: rgb(255, 51, 51);
$error-pale: rgb(248, 107, 107);

