$main-color: rgb(88, 167, 254);
$main-color-page: rgb(124, 185, 252);
$main-color-dark: rgb(57, 153, 255);
$main-color-light: rgb(225, 232, 236);

$error: rgb(255, 51, 51);
$error-pale: rgb(248, 107, 107);


[data-theme="dark"] {
  --header-bg-pale: rgb(31, 36, 54);
  --header-bg: rgb(22, 27, 34);
  --default-bg: rgb(13, 17, 23);
  --font-color: rgb(225, 232, 236);
  --input-background: rgba(0, 0, 0, .5);
  --hover: rgba(255, 255, 255, .15);
  --line: rgba(255, 255, 255, .25);
}

[data-theme="light"] {
  --header-bg-pale: rgb(204, 204, 204);
  --header-bg: rgba(230, 230, 230);
  --default-bg: rgba(239, 239, 239);
  --font-color: rgb(13, 17, 23);
  --input-background: rgba(255, 255, 255, .5);
  --hover: rgba(0, 0, 0, .15);
  --line: rgba(0, 0, 0, .25);
}
