@use "../variables" as v;

.basic-button {
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: v.$main-color;
  color: v.$main-color-light;
  font-weight: 300;
  transition: 0.5s;
  min-width: 100px;
  &.input-with-button {
    width: 75px;
    margin-top: 0;
    height: 48px;
  }
  &.transparent {
    background-color: transparent;
    color: v.$main-color-light;
    border: 1px solid v.$main-color;
    transition: .2s;
  }
  &.transparent:hover {
    background-color: rgba(v.$main-color, 0.25);
  }
  &.big {
    width: 100%;
    &.w400 { width: 450px; }
    height: 48px;
    p {
      font-size: 18px;
    }
  }
  &.min-width150 {
    width: 150px;
  }
  &.danger {
    border: 1px solid rgba(v.$error, 0.5);
    color: v.$error;
    transition: .2s;
  }
  &.danger:hover {
    background-color: rgba(v.$error, 0.25);
  }
  &.danger-fill {
    border: none;
    color: v.$main-color-light;
    background-color: v.$error;
  }
  p {
    margin: 0;
  }
}

.basic-button:disabled {
  background-color: rgba(v.$main-color, 0.35);
  cursor: auto;
  &.danger-fill {
    border: none;
    color: v.$main-color-light;
    background-color: rgba(v.$error, 0.35);
  }
}
