@use "../variables" as v;

.basic-button {
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid v.$mcd;
  background-color: v.$mcm;
  color: v.$mcl;
  font-weight: 300;
  transition: 0.5s;
  &.input-with-button {
    width: 75px;
    margin-top: 0;
    height: 48px;
  }
  &.transparent {
    background-color: transparent;
    color: v.$mcl;
    border: 1px solid v.$mcm;
  }
  &.big {
    width: 100%;
    height: 48px;
    p {
      font-size: 18px;
    }
  }
  p {
    margin: 0;
  }
}

.basic-button:disabled {
  background-color: rgba(v.$mcm, 0.25);
  cursor: auto;
}
