@use "../variables" as v;

.footer {
  width: 100%;
  height: 50px;
  background-color: v.$header-bg;
  bottom: 0;
  position: absolute;
  .footer-content {
    width: 750px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    .right-side-footer {
      width: 375px;
      display: flex;
    }
    .left-side-footer {
      width: 375px;
      text-align: right;
    }
    p {
      padding-top: 5px;
      margin-right: 15px;
      font-size: 12px;
      font-family: "Heiti SC", sans-serif;
    }
  }
}
