@use "../variables" as v;

.header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: v.$header-bg;
  .inner-header {
    margin: 0 auto;
    width: 75%;
    .content {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .button {
        align-items: center;
        display: flex;
        margin-left: 20px;
      }
      .links {
        font-size: 16px;
        transition: 0.3s;
        &.logo { font-size: 30px; }
      }
      .links:hover {
        color: v.$main-color;
        transform: scale(1.1);
      }
    }
  }
}
