.header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #131313;
  .inner-header {
    margin: 0 auto;
    width: 75%;
    .header-content {
      display: flex;
      height: 100%;
      justify-content: space-between;
      .header-button {
        align-items: center;
        display: flex;
        margin-left: 20px;
      }
      .header-links {
        margin: 20px 20px 0 0;
        font-size: 16px;
        transition: 0.3s;
        &.logo {
          font-size: 30px;
          margin: 10px 20px 0 0;
        }
      }
      .header-links:hover {
        color: green;
        transform: scale(1.1);
      }
    }
  }
}
