@use "../variables" as v;

.bi {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(#000, 0.5);
  padding: 0 0 0 16px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
  color: white;
  &.w400 { width: 450px; }
}

.basic-input-outer {
  min-width: 350px;

  .basic-input {
    min-height: 35px;
    margin-bottom: 10px;
    &.error { border: 1px solid v.$error; }
    &.error:focus { border: 1px solid v.$error; }
  }
  .basic-input:focus { border: 1px solid v.$mc; }
  .basic-input:disabled { background-color: rgba(#aaa, 0.5) }

  .on-white {
    border: 1px solid v.$bg2;
    background-color: rgba(#fff, 0.5);
    color: black;
  }
}
