@use "../variables" as v;

.input-two-fa {
  margin-bottom: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  font-size: 32px;
  text-align: center;
  outline: none;
  color: white;
  background-color: v.$bg1;
  border-radius: 6px;
  border: 1px solid rgba(v.$mcm, 0.5);
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  @media only screen and (max-width: 930px) {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 24px;
  }
}

.input-two-fa:disabled {
  background-color: rgba(v.$bg3, 0.5);
}

.on-white {
  input {
    border: 1px solid v.$bg1;
    background-color: rgba(#fff, 0.5);
    color: black;
  }
}
