@use "../variables" as v;

.bi {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(#000, 0.5);
  padding: 0 0 0 16px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
  color: v.$main-color-light;
  &.textarea {
    padding: 15px;
    font-size: 14px;
    font-family: "Menlo", sans-serif;
    height: 120px;
    resize: vertical;
    &.textarea:focus { border: 1px solid rgba(v.$main-color, .5); }
  }
}

.basic-input-container {
  margin: 0 auto;
  width: 100%;
  .basic-input {
    min-height: 35px;
    margin-bottom: 10px;
    &.error { border: 1px solid rgba(v.$error, .5); }
    &.error:focus { border: 1px solid rgba(v.$error, .5); }
  }
  .basic-input:focus { border: 1px solid rgba(v.$main-color, .5); }
  .basic-input:disabled { background-color: rgba(#aaa, 0.5) }

  .on-white {
    border: 1px solid rgba(v.$default-bg, 0.5);
    background-color: rgba(#fff, 0.5);
    color: v.$default-bg;
  }
}
