@use "../variables" as v;

.main-class {
  display: flex;
  width: 100%;
  .basic-input-button {
    margin-right: 15px;
    &.error {
      border: 1px solid v.$error;
    }
    &.error:focus {
      border: 1px solid v.$error;
    }
  }
  .basic-input-button:focus {
    border: 1px solid v.$main-color;
  }
  .basic-input-button:disabled {
    color: rgba(#fff, 0.5);
    cursor: text;
  }
}
