@use "../variables" as v;

.input-two-fa {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  font-size: 32px;
  font-weight: 900;
  outline: none;
  color: v.$main-color-light;
  background-color: v.$default-bg;
  border-radius: 6px;
  caret-color: transparent;
  border: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  @media only screen and (max-width: 930px) {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 24px;
  }
}

.input-two-fa:disabled {
  background-color: rgba(v.$default-bg, 0.25);
}

.input-two-fa:focus {
  border: 1px solid rgba(v.$main-color, 0.5);
}

.on-white {
  input {
    border: 1px solid v.$default-bg;
    background-color: rgba(#fff, 0.5);
    color: v.$default-bg;
  }
}
