@use "../../variables" as v;
@import "../../mixins";

.question-wrapper {
  @include wrapper(70%, 0, auto, 0, auto, block);

  .question-header {
    @include centers($align-items: center, $justify-content: space-between);
    display: flex;
    border-bottom: 1px solid var(--line);
    .question-header-button {
      width: 150px;
    }
  }

  .question-content {
    @include wrapper(70%, 15px, auto, 0, auto);
    display: block;
    .question {
      @include size(100px, 100%);
      border-bottom: 1px solid var(--line);
      margin-bottom: 15px;
      transition: .2s;
      cursor: pointer;
      .on-hover {
        transition: .2s
      }
      &:hover {
        border-bottom: 1px solid var(--main-color);
        .on-hover {
          color: var(--main-color)
        }
      }
    }
    .preview-block {
      border: 1px solid var(--main-color-disable);
      border-radius: 5px;
      padding: 5px;
      &.answer {
        border: 1px solid var(--success);
      }
      &.answered {
        background-color: var(--background-success);
      }
      &.low-quality-question {
        border: 1px solid var(--error);
      }
    }
    .avatar-box {
      @include avatar-box(50px, 50px);
    }
    &.sort {
      height: 50px;
      display: flex;
      align-items: center;
    }
  }
}

.ask-wrapper {
  @include wrapper(50%, 0, auto, 0, auto);
  display: block;
  .elem {
    @include margin($top: 15px, $bottom: 15px);
    &.button {
      @include margin($left: 5px, $top: 15px, $bottom: 15px);
    }
  }
  .question-title {
    border-bottom: 1px solid var(--line);
  }
}
