@use "../../variables" as v;

.question-wrapper {
  width: 70%;
  margin: 0 auto;
  .question-header {
    .question-header-button { width: 150px; }
    display: flex;
    border-bottom: 1px solid var(--line);
    justify-content: space-between;
    align-items: center;
  }

  .question-content {
    width: 70%;
    margin: 15px auto 0;
    &.sort {
      height: 50px;
      display: flex;
      align-items: center;
    }
    .question {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid var(--line);
      margin-bottom: 15px;
      transition: .2s;
      cursor: pointer;
      .on-hover { transition: .2s }
    }
    .question:hover {
      border-bottom: 1px solid var(--main-color);
      .on-hover { color: var(--main-color) }
    }
    .preview-block {
      border: 1px solid var(--line);
      border-radius: 5px;
      padding: 5px;
    }
    .asked-by {
      border-radius: 50%;
      .avatar-box { border-radius: 50%;}
    }
  }
  &.asked-question {
    width: 55%;
  }
}
