@use "../../variables" as v;
@import "../../mixins";

.question-wrapper {
  @include wrapper(70%, 0, auto, 0, auto, block);

  .question-wrapper__question-header {
    @include centers($align-items: center, $justify-content: space-between);
    display: flex;
    border-bottom: 1px solid var(--line);
    .question-wrapper__question-header__question-header-button {
      width: 150px;
    }
  }

  .question-wrapper__question-content {
    @include wrapper(70%, 15px, auto, 0, auto);
    display: block;
    .question-wrapper__question-content__question {
      @include size(120px, 100%);
      border-bottom: 1px solid var(--line);
      margin-bottom: 15px;
      transition: .2s;
      cursor: pointer;
      .question-wrapper__question-content__question__title-box {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        &.question-wrapper__question-content__question__title-box--no-baseline {
          align-items: normal;
        }
      }
      .question-wrapper__question-content__question__title-box__hover {
        transition: .2s
      }
      &:hover {
        border-bottom: 1px solid var(--main-color);
        .question-wrapper__question-content__question__title-box__hover {
          color: var(--main-color);
        }
      }
    }
    .question-wrapper__question-content__preview-block {
      border: 1px solid var(--main-color-disable);
      border-radius: 5px;
      padding: 5px;
      margin-right: 5px;
      &.question-wrapper__question-content__preview-block--answer {
        border: 1px solid var(--success);
      }
      &.question-wrapper__question-content__preview-block--answered {
        background-color: var(--background-success);
      }
      &.question-wrapper__question-content__preview-block--low-quality-question {
        border: 1px solid var(--error);
      }
    }
    .question-wrapper__question-content__avatar-box {
      @include avatar-box(50px, 50px);
    }
    &.question-wrapper__question-content--sort {
      height: 50px;
      display: flex;
      align-items: center;
      .question-wrapper__question-content--sort__item {
        width: 100%;
        margin: 0 5px;
      }
    }
  }
}

.ask-wrapper {
  @include wrapper(50%, 0, auto, 0, auto);
  display: block;
  .ask-wrapper__question-title {
    border-bottom: 1px solid var(--line);
    .ask-wrapper__question-title__no-answers {
      p {
        margin: 0;
      }
      margin: 25px 0;
      font-size: 14px;
      text-align: center;
      &.ask-wrapper__question-title__no-answers--btn {
        width: 200px;
        margin: 15px auto 0;
      }
    }
    .ask-wrapper__question-title__content {
      display: flex;
      .ask-wrapper__question-title__content__content {
        margin: 0;
      }
      .ask-wrapper__question-title__content__votes {
        @include centers($flex-direction: column, $text-align: center);
        display: flex;
        width: 100px;
        padding-right: 15px;
        margin: 15px;
        border-right: 1px solid var(--line);
        p {
          margin: 5px 0;
        }
        .ask-wrapper__question-title__content__vote {
          cursor: pointer;
          transition: .2s;
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          &.ask-wrapper__question-title__content__vote--up {
            border: 1px solid var(--success);
            &:hover, &.ask-wrapper__question-title__content__vote--up--active {
              background-color: var(--background-success);
            }
          }
          &.ask-wrapper__question-title__content__vote--down {
            border: 1px solid var(--error);
            &:hover, &.ask-wrapper__question-title__content__vote--down--active {
              background-color: var(--error-border);
            }
          }
        }
      }
    }
    .ask-wrapper__question-title__info {
      display: flex;
      justify-content: space-between;
      p {
        margin-top: 0;
      }
    }
    .ask-wrapper__question-title__preview-block {
      border: 1px solid var(--main-color-disable);
      border-radius: 5px;
      padding: 5px;
      margin-right: 5px;
      &.ask-wrapper__question-title__preview-block--answer {
        border: 1px solid var(--success);
      }
      &.ask-wrapper__question-title__preview-block--answered {
        background-color: var(--background-success);
      }
      &.ask-wrapper__question-title__preview-block--low-quality-question {
        border: 1px solid var(--error);
      }
    }
    .ask-wrapper__question-title__title-box {
      display: flex;
      align-items: baseline;
      &.ask-wrapper__question-title__title-box--no-baseline {
        align-items: normal;
      }
    }
    h1 {
      margin-bottom: 0;
    }
    &.ask-wrapper__question-title--no-border {
      border-bottom: none;
    }
  }
}
